{% extends "listing_base.html" %}

{% block extrahead %}
    {% load static %}
    {% load i18n %}
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-fileupload/bootstrap-fileupload.css' %}"/>
    <style>
        .address-btn {
            background-color: #A5A4BF !important;
            color: #ffffff !important;
            min-width: 100px;
        }
    </style>
{% endblock %}

{% block title %}{% trans 'Order Add/Edit'%}{% endblock %}

{% block order_a_active %}
    active
{% endblock %}

{% block order_i_active %}
    active
{% endblock %}

{% block order_add_active %}
    active
{% endblock %}

{% block content %}
<form class="form-horizontal"  id="order_form"
    {% if order.id %}
        action="{% url 'order_edit' order.id %}"
    {% else %}
        action="{% url 'order_add' %}"
    {% endif %}
    role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="panel">
        <header class="panel-heading pb-5" style="font-size: 25px">
            <strong>{% trans 'Order Registration' %}</strong>
        </header>
        <div class="table-section white-bg">
            <div id="product-div" class="col-lg-12">
                <input class="form-control" type="hidden" name="product_list" id="product_list">
                <input class="form-control" type="hidden" name="seller_id" id="seller_id">
                <label for="product" class="col-md-2 mb-4 control-label"><h5>{% trans 'Products' %}</h5></label>
                <div class="form-group row" id="product_line_0">
                    <div class="offset-lg-1 col-lg-1">
                        <img src="" width="70px" height="70px" alt="" name="product_image_0" id="product_image_0" />
                    </div>
                    <div class="col-lg-6 pt-3">
                        <select name="product_select_0" id="product_select_0" class="form-control trs-field">
                        </select>
                    </div>
                    <div class="col-lg-2 pt-3">
                        <input class="form-control text-right trs-field numeric_qty" type="text"
                            name="quantity_0"
                            id="quantity_0"
                            value="1">
                    </div>
                    <div class="btn-group pt-3">
                        <a class="btn-group-item" onclick="addProduct(0)"><i class="fas fa-plus-circle fa-2x text-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="form-group row">
                    <label for="order_no" class="col-lg-2 control-label">{% trans 'Order Number' %}<span
                            class="span-required">(*)</span></label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="text" readonly
                            name="order_no"
                            id="order_no"
                            autocomplete="off"
                            placeholder=""
                            value="{{order.id}}">
                    </div>
                    <label for="order_date" class="col-lg-2 control-label">{% trans 'Order Date' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="date"
                            name="order_date"
                            id="order_date"
                            placeholder=""
                            value="{{order.order_date|date:"Y-m-d"}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-lg-2 control-label">{% trans 'Orderer' %}</label>
                    <div class="col-lg-4">
                        <select name="orderer" id="orderer" class="form-control trs-field">
                            {% for pr in orderer_list %}
                                {% if pr.0 == order.purchaser_id %}
                                <option value="{{pr.0}}" selected>{{pr.1}}</option>
                                {% else %}
                                <option value="{{pr.0}}">{{pr.1}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label for="name" class="col-lg-2 control-label">{% trans 'Receiver Name' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="text"
                            name="name"
                            id="name"
                            placeholder=""
                            value="{{order.name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="amount" class="col-lg-2 control-label">{% trans 'Amount' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control text-right trs-field numeric_qty" type="text"
                            name="amount"
                            id="amount"
                            placeholder=""
                            value="{{order.amout}}">
                    </div>
                    <label for="zip1" class="col-lg-2 control-label">{% trans 'Zip Code' %}</label>
                    <div class="col-lg-2">
                        <input class="form-control trs-field" type="text"
                            name="zip1"
                            id="zip1"
                            placeholder=""
                            value="{{order.zip1}}">
                    </div>
                    <div class="col-lg-2">
                        <span class="">
                            <a class="btn address-btn" onclick="showAddressBook()"> 
                                <span>{% trans 'Address Book' %}</span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tax" class="col-lg-2 control-label">{% trans 'Gst' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control text-right trs-field numeric_qty" type="text" readonly
                            name="tax"
                            id="tax"
                            placeholder=""
                            value="{{order.tax}}">
                    </div>
                    <label for="prefecture" class="col-lg-2 control-label">{% trans 'Prefecture' %}<span
                            class="span-required">(*)</span></label>
                    <div class="col-lg-4">
                        <select name="prefecture" id="prefecture" class="form-control trs-field">
                            {% for pr in prefecture_list %}
                                {% if pr.0 == order.prefecture_id %}
                                <option value="{{pr.0}}" selected>{{pr.1}}</option>
                                {% else %}
                                <option value="{{pr.0}}">{{pr.1}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipping_fee" class="col-lg-2 control-label">{% trans 'Shipping Fee' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control text-right trs-field numeric_qty" type="text"
                            name="shipping_fee"
                            id="shipping_fee"
                            placeholder=""
                            value="{{order.shipping_fee}}">
                    </div>
                    <label for="address1" class="col-lg-2 control-label">{% trans 'Address One' %}<span
                            class="span-required">(*)</span></label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="text"
                            name="address1"
                            id="address1"
                            placeholder=""
                            value="{{order.address1}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="total_amount" class="col-lg-2 control-label">{% trans 'Total Amount' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control text-right trs-field numeric_qty" type="text" readonly
                            name="total_amount"
                            id="total_amount"
                            placeholder=""
                            value="{{order.total_amout}}">
                    </div>
                    <label for="address2" class="col-lg-2 control-label">{% trans 'Address Two' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="text"
                            name="address2"
                            id="address2"
                            placeholder=""
                            value="{{order.address2}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="order_status" class="col-lg-2 control-label">{% trans 'Status' %}</label>
                    <div class="col-lg-4">
                        <select name="order_status" id="order_status" class="form-control trs-field">
                            {% for pr in status_list %}
                                {% if pr.0 == order.status %}
                                <option value="{{pr.0}}" selected>{{pr.1}}</option>
                                {% else %}
                                <option value="{{pr.0}}">{{pr.1}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label for="tel" class="col-lg-2 control-label">{% trans 'Phone Number' %}<span
                            class="span-required">(*)</span></label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="text"
                            name="tel"
                            id="tel"
                            placeholder=""
                            value="{{order.tel}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipped_date" class="col-lg-2 control-label">{% trans 'Shipment Date' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="date"
                            name="shipped_date"
                            id="shipped_date"
                            placeholder=""
                            value="{{order.shipped_date|date:"Y-m-d"}}">
                    </div>
                    <label for="inquiry_number" class="col-lg-2 control-label">{% trans 'Tracking Number' %}</label>
                    <div class="col-lg-4">
                        <input class="form-control trs-field" type="text"
                            name="inquiry_number"
                            id="inquiry_number"
                            placeholder=""
                            value="{{order.inquiry_number}}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="text-center">
                        <button type="submit" name="btnOrderSave" id="btnOrderSave" class="btn btn-primary blue-btn">{% trans 'Save' %}</button>
                        <a class="btn btn-default gray-btn" href="{% url 'order_list' %}">{% trans 'Cancel' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<!-- Address Modal -->
<div class="modal fade" id="AddressListModal" tabindex="-1" role="dialog"
        aria-labelledby="AddressListModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Address List</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-right: 0px!important;margin-left: 0px!important;">
                    <section>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel-body"
                                        style="padding: 0px!important; font-size: 12.5px !important;">
                                    <div class="adv-table">
                                        <table id="address-table" style="width: 100% !important;"
                                                class="display table table-bordered table-striped table-condensed">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{% trans 'Address Name' %}</th>
                                                <th>{% trans 'Full Name' %}</th>
                                                <th>{% trans 'Address' %}</th>
                                                <th>{% trans 'Phone Number' %}</th>
                                                <th class="text-center" style="min-width:90px!important;">{% trans 'Options' %}</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default blue-btn" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Address Modal END -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'assets/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
    <script src="{% static "js/select2/select2.js" %}"></script>
    <script src="{% static "js/jpostal.js" %}"></script>
    <script type="text/javascript">
        $(document).on('keyup', '.select2-selection.select2-selection--single', function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if(keycode == '9'){
                $(this).closest(".select2-container").siblings('select:enabled').select2('open');
            }
        });

        // seller_id will be the login id
        var seller_id = 2;
        var orderer_auth_type = '5';

        var product_list = [];
        var order_id = "{{order.id}}";
        var tax_rate = "{{tax_rate}}";
        if (tax_rate) {
            tax_rate = parseFloat(tax_rate);
        }

        var order_product_list = []
        {% for product in order_product_list %}
            order_product_list.push(["{{ product.0 }}", "{{ product.1 }}"]);
            //order_product_list.push(["{{ product.0 }}", "{{ product.1 }}", "{{ product.2 }}"]);
        {% endfor %}

        var orderer_list = []
        {% for item in orderer_list %}
            orderer_list.push(["{{ item.0 }}", "{{ item.1 }}", "{{ item.2 }}"]);
        {% endfor %}

        $(document).ready(function() {
            // get all products of seller
            loadProducts();

            if (!order_id) {
                $('#order_date').val(new Date().toDateInputValue())
            } else {
                let amount = parseInt("{{order.amount}}");
                let tax = parseInt("{{order.tax}}");
                let shipping_fee = parseInt("{{order.shipping_fee}}");
                let total_amount = parseInt("{{order.total_amount}}");

                $('#amount').val(comma_format(amount, 0) + ' ' + JPCUR);
                $('#tax').val(comma_format(tax, 0) + ' ' + JPCUR);
                $('#shipping_fee').val(comma_format(shipping_fee, 0) + ' ' + JPCUR);
                $('#total_amount').val(comma_format(total_amount, 0) + ' ' + JPCUR);
            }
        })

        $('#order_status').select2({});
        $('#order_status').on("select2:open", function( event ){
            prefill_select2(event);
        });
        $('#prefecture').select2({});
        $('#prefecture').on("select2:open", function( event ){
            prefill_select2(event);
        });
        $('#orderer').select2({});
        $('#orderer').on("select2:open", function( event ){
            prefill_select2(event);
        });

        $('#zip1').jpostal({   
            postcode : [
                '#zip1'
            ],
            address : {
                '#prefecture'  : '%3',
                '#address1'  : '%4 %5',
                //'#address2'  : '%8, %9, %10',
            }
        });

        $('#zip1').on('change', function() {
            setTimeout(() => {
                $('#prefecture').val($('#prefecture').val()).trigger('change');
            }, 800);
        });

        $('#orderer').on('change', function() {
            console.log('orderer_auth_type', orderer_auth_type);
            let orderer = $(this).val();
            $.each(orderer_list, function(indx, item) {
                if (item[0] == orderer) {
                    orderer_auth_type = item[2];
                }
            });
            console.log('orderer_auth_type', orderer_auth_type);
        });

        function showAddressBook() {
            let profile_id = $('#orderer').val();
            if (profile_id != '' && profile_id != undefined) {
                $('#AddressListModal').modal('show');
                $('#address-table').DataTable().destroy();
                $('#address-table').DataTable({
                    "order": [[2, "asc"]],
                    "serverSide": true,
                    "scrollX": true,
                    stateSave: true,
                    "ajax": {
                        "url": "/profiles/shipping_list_json/",
                        "data": {
                            "user_id": profile_id
                        }
                    },
                    "columns": [
                        {"data": "no", "orderable": false},
                        {"data": "address_name"},
                        {"data": "name"},
                        {"data": "address", "orderable": false},
                        {"data": "tel"},
                        
                        {
                            "sClass": "text-center",
                            "orderable": false,
                            "data": null,
                            "render": function (data, type, row, meta) {
                                var btn =
                                        '<div class="btn-group">' +
                                        '<a class="btn-group-item pointer btn btn-default gray-btn select-address" onclick="selectAddress('+row.no+')">Select</a>' +
                                        '</div>';
                                return btn;
                            }
                        }
                    ]
                });
                setTimeout(() => {
                    $('#address-table').DataTable().columns.adjust();
                }, 300);
            }
        }

        function selectAddress(line) {
            var dtTable = $('#address-table').DataTable();
            var dtRow = dtTable.rows(line-1).data();
            var sel_address = {};
            sel_address['name'] = dtRow[0].address_name;
            sel_address['full_name'] = dtRow[0].name;
            sel_address['tel'] = dtRow[0].tel;
            sel_address['prefecture'] = dtRow[0].prefecture;
            sel_address['prefecture_id'] = dtRow[0].prefecture_id;
            sel_address['address1'] = dtRow[0].address.split(' ')[0].trim();
            sel_address['address2'] = dtRow[0].address.split(' ')[1].replace('</br>', '').trim() + ' ' + dtRow[0].address.split(' ')[2].trim();
            sel_address['zip1'] = dtRow[0].address.split(' ')[4].split(':')[1].trim();
            console.log(sel_address);
            $('#zip1').val(sel_address.zip1).trigger('change');
            $('#tel').val(sel_address.tel);
            $('#name').val(sel_address.name);
            $('#AddressListModal').modal('hide');
        };

        $('#amount').on('change', function() {
            let amount = pure_number($(this).val());
            if (amount > 0) {
                if (tax_rate) {
                    var tax = roundDecimal(amount * tax_rate, 0);
                    $('#tax').val(comma_format(tax, 0) + ' ' + JPCUR);
                    calculateTotalAmount();
                } else {
                    calculateTotalAmount();
                }
            }
            $('#amount').val(comma_format(amount, 0) + ' ' + JPCUR);
        });

        $('#shipping_fee').on('change', function() {
            let shipping_fee = pure_number($(this).val());
            if (shipping_fee > 0) {
                calculateTotalAmount();
            }
            $('#shipping_fee').val(comma_format(shipping_fee, 0) + ' ' + JPCUR);
        });

        function calculateTotalAmount() {
            let amount = pure_number($('#amount').val());
            let tax = pure_number($('#tax').val());
            let shipping_fee = pure_number($('#shipping_fee').val());

            $('#total_amount').val(comma_format(amount + tax + shipping_fee, 0) + ' ' + JPCUR);
        }

        function calculateAmount() {
            let amount = 0;
            for (let i=0; i<$("[id*='product_line']").length; i++) {
                if ($('#product_select_'+i).val() != '' && $('#quantity_'+i).val() != ''){
                    let qty = $('#quantity_'+i).val();
                    let s_val = $('#product_select_'+i).val();
                    let product = product_list.filter(function (el) {
                        return el.jan_id == s_val;
                    });
                    if (product.length) {
                        if (orderer_auth_type == '5') { // General authority
                            amount += parseInt(qty) * parseInt(product[0].price)
                        } else {  // Store authority
                            amount += parseInt(qty) * parseInt(product[0].store_price)
                        }
                    }
                }
            }
            $('#amount').val(comma_format(amount, 0) + ' ' + JPCUR).trigger('change');
        }


        // products block
        function loadProducts() {
            $.ajax({
                method: "GET",
                url: '/products/seller_product_list_json/',
                dataType: 'JSON',
                data: {
                    'seller_id': seller_id,
                },
                success: function (json) {
                    product_list = json.data;
                    console.log('product_list', product_list);
                    initiateProductSelect2('product_select_0', product_list);

                    // if order edit
                    if (order_id && order_product_list.length && product_list.length) {
                        recreateProductBlock();
                    }
                },
                error: function (e) {
                    $.confirm({
                        title: 'Error',
                        content: e.message,
                        buttons: {
                            Ok: {
                                btnClass: 'btn-success',
                                action: function(){}
                                }
                            }
                    });
                }
            });
        }

        function initiateProductSelect2(id, list, exclude_list=[]) {
            let line = 0;
            if ($('#' + id).data('select2')) {
                $('#' + id).select2('destroy');
            }

            $('#' + id).empty();

            var options = '<option value="">Select Product</option>';
            for (i in list) {

                options += "<option value="+list[i].jan_id+">"+list[i].jan_code + ': ' + list[i].name + ' - ' + list[i].varieties + ' - ' + list[i].stock+"</option>";
            }
            $('#' + id).html(options);

            $('#' + id).select2({
                placeholder: "Select Product",
                allowClear: true,
            });

            $('#' + id).on('change', function(event) {
                let s_val = $(this).val();
                line = event.target.id.replace('product_select_', '').trim();
                for(i in list){
                    if (s_val == list[i].jan_id) {
                        let image_path = list[i].image_path;
                        $('#product_image'+line).attr('src', image_path);
                        $('#quantity_'+line).attr('max_order', list[i].stock);
                    }
                }
                calculateAmount();
            });

            $('#' + id).on("select2:open", function( event ){
                prefill_select2(event);
            });
            $('#' + id).on("select2:close", function( event ){
                $('#quantity_'+line).select();
            });
        }

        var product_line = `
                <div class="form-group row" id="product_line">
                    <div class="offset-lg-1 col-lg-1">
                        <img src="" width="70px" height="70px" alt="" name="product_image" id="product_image" />
                    </div>
                    <div class="col-lg-6 pt-3">
                        <select name="product_select" id="product_select" class="form-control trs-field">
                        </select>
                    </div>
                    <div class="col-lg-2 pt-3">
                        <input class="form-control text-right trs-field numeric_qty" type="text"
                            name="quantity"
                            id="quantity"
                            value="1">
                    </div>
                    <div class="btn-group pt-3">
                        <a class="btn-group-item" onclick="addProduct()"><i class="fas fa-plus-circle fa-2x text-info"></i></a>
                        <a class="btn-group-item" onclick="deleteProduct()"><i class="fas fa-trash-alt fa-2x text-danger"></i></a> 
                    </div>
                </div>`;

        function recreateProductBlock() {
            for (let i=1; i<order_product_list.length; i++) {
                addProduct(0);
            }
            for (i in order_product_list) {
                $('#product_image_'+i).attr("src" ,order_product_list[i][2]);
                $('#quantity_'+i).val(order_product_list[i][1]);
                $('#product_select_'+i).val(order_product_list[i][0]).trigger('change');
            }
        }
        
        function addProduct(line) {
            new_line = Number(line) + 1;
            new_product_line = product_line;
            new_product_line = new_product_line.replaceAll('product_line', 'product_line_'+new_line).replaceAll('product_select', 'product_select_'+new_line);
            new_product_line = new_product_line.replaceAll('product_image', 'product_image_'+new_line).replaceAll('addProduct()', 'addProduct('+new_line+')');
            new_product_line = new_product_line.replaceAll('deleteProduct()', 'deleteProduct('+new_line+')').replaceAll('quantity', 'quantity_'+new_line);

            $('#product_line_'+line).after(new_product_line);

            initiateProductSelect2('product_select_'+new_line, product_list);
            
            reIndexAll();
        }

        function deleteProduct(line) {
            $.confirm({
                title: 'Warning',
                content: 'Are you sure?',
                buttons: {
                    Yes: function () {
                        $('#product_line_'+line).remove();
                        reIndexAll();
                    },
                    Cancel: function () {}
                }
            });
        }

        function reIndexAll() {
            for (let i=0; i<$("[id*='product_line']").length; i++) {
                let product_div = $("[id*='product_line']")[i];

                $(product_div).find('img').each(function () {
                    $(this).attr('name', 'product_image_'+i);
                    $(this).attr('id', 'product_image_'+i);
                });
                $(product_div).find(':input').each(function () {
                    $(this).attr('name', 'quantity_'+i);
                    $(this).attr('id', 'quantity_'+i);
                });
                $(product_div).find('select').each(function () {
                    $(this).attr('name', 'product_select_'+i);
                    $(this).attr('id', 'product_select_'+i);
                });
                $(product_div).find('span.select2-selection').each(function () {
                    if($(this).attr('aria-labelledby') != undefined) {
                        $(this).attr({'aria-labelledby': 'select2-product_select_'+i+'-container'});
                    }
                });
                $(product_div).find('span.select2-selection__rendered').each(function () {
                    if($(this).attr('id') != undefined) {
                        $(this).attr({'id': 'select2-product_select_'+i+'-container'});
                    }
                });
                $(product_div).find('a').each(function (idx) {
                    if (idx == 0) {
                        $(this).attr('onclick', 'addProduct('+i+')');
                    } else {
                        $(this).attr('onclick', 'deleteProduct('+i+')');
                    }
                });
                $(product_div).attr('id', 'product_line_'+i);
            }
        }

        // Qunatity on change
        $(document).on('change', "[id*='product_line'] input:text", function(event) {
            let line = event.target.id.replace('quanity_', '').trim();
            let qty = parseInt($('#'+event.target.id).val());
            let max_order = parseInt($('#'+event.target.id).attr('max_order'));
            if (0 >= qty) {
                $.confirm({
                    title: 'Wrong Quanity!',
                    content: 'Order quantity must be greater than Zero',
                    buttons: {
                        Ok: {
                            btnClass: 'btn-success',
                            action: function(){ $('#'+event.target.id).val(max_order); $('#'+event.target.id).focus(); }
                            }
                        }
                });
            } else if (qty > max_order) {
                $.confirm({
                    title: 'Wrong Quanity!',
                    content: 'Order quantity cannot be greater than stock quantity ' + max_order,
                    buttons: {
                        Ok: {
                            btnClass: 'btn-success',
                            action: function(){ $('#'+event.target.id).val(max_order); $('#'+event.target.id).focus(); }
                            }
                        }
                });
            } else {
                calculateAmount();
            }
        });

        $('#order_form').on('submit', function(e) {
            var is_valid = true;

            if ( $('#orderer').val() != '' ) {
                $('#orderer').removeClass('highlight-mandatory');
            } else {
                $('#orderer').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#tel').val() != '' ) {
                $('#tel').removeClass('highlight-mandatory');
            } else {
                $('#tel').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#zip1').val() != '' ) {
                $('#zip1').removeClass('highlight-mandatory');
            } else {
                $('#zip1').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#prefecture').val() != '' ) {
                $('#prefecture').removeClass('highlight-mandatory');
            } else {
                $('#prefecture').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#address1').val() != '' ) {
                $('#address1').removeClass('highlight-mandatory');
            } else {
                $('#address1').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#address2').val() != '' ) {
                $('#address2').removeClass('highlight-mandatory');
            } else {
                $('#address2').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#amount').val() != '' ) {
                $('#amount').removeClass('highlight-mandatory');
            } else {
                $('#amount').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#tax').val() != '' ) {
                $('#tax').removeClass('highlight-mandatory');
            } else {
                $('#tax').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#total_amount').val() != '' ) {
                $('#total_amount').removeClass('highlight-mandatory');
            } else {
                $('#total_amount').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#shipping_fee').val() != '' ) {
                $('#shipping_fee').removeClass('highlight-mandatory');
            } else {
                $('#shipping_fee').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#shipped_date').val() != '' ) {
                $('#shipped_date').removeClass('highlight-mandatory');
            } else {
                $('#shipped_date').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#order_date').val() != '' ) {
                $('#order_date').removeClass('highlight-mandatory');
            } else {
                $('#order_date').addClass('highlight-mandatory');
                is_valid = false;
            }
            if ( $('#inquiry_number').val() != '' ) {
                $('#inquiry_number').removeClass('highlight-mandatory');
            } else {
                $('#inquiry_number').addClass('highlight-mandatory');
                is_valid = false;
            }

            // Product validation
            for (let i=0; i<$("[id*='product_line']").length; i++) {
                if ( $('#product_select_'+i).val() != '' ) {
                    $('#product_select_'+i).removeClass('highlight-mandatory');
                } else {
                    $('#product_select_'+i).addClass('highlight-mandatory');
                    is_valid = false;
                }
                if ( $('#quantity_'+i).val() != '' ) {
                    $('#quantity_'+i).removeClass('highlight-mandatory');
                } else {
                    $('#quantity_'+i).addClass('highlight-mandatory');
                    is_valid = false;
                }
            }
            
            if (is_valid) {
                let selected_product_list = [];
                for (let i=0; i<$("[id*='product_line']").length; i++) {
                    let data = {
                        "jan_id": $('#product_select_'+i).val(),
                        "qty": $('#quantity_'+i).val()
                    }
                    selected_product_list.push(data);
                }
                $('#product_list').val(JSON.stringify(selected_product_list));
                $('#seller_id').val(seller_id);
                $('#amount').val(pure_number($('#amount').val()));
                $('#tax').val(pure_number($('#tax').val()));
                $('#total_amount').val(pure_number($('#total_amount').val()));
                $('#shipping_fee').val(pure_number($('#shipping_fee').val()));
            } else {
                e.preventDefault();
            }
        });

        $('#inquiry_number').on('change', function() {
            let value = $(this).val();
            check_for_duplicate('inquiry_number', value);
        });

        function check_for_duplicate(type, value) {
            $.ajax({
                type: "GET",
                url: "/orders/check_for_duplicate/" + type + "/" + value + "/",
                success: function (data) {
                    if (data.message == 'Success') {
                        if (type == 'inquiry_number') {
                            $.confirm({
                                title: 'Tracking number is duplicate',
                                content: value + ' is in use. Try a new one. It must be unique',
                                buttons: {
                                    Ok: {
                                        btnClass: 'btn-success',
                                        action: function(){ $('#inquiry_number').val(''); $('#inquiry_number').focus(); }
                                        }
                                    }
                            });
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}