
{% block extrahead %}
    {% load static %}
    {% load i18n %}
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <style>
        .images{
          padding-bottom: 30px;
        }
        .img-container {
          position: relative;
          width: 50%;
        }

        .overlay {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }

        .overlay {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          height: 100%;
        }

        .img-container:hover .image {
          opacity: 0.3;
        }

        .img-container:hover .overlay {
          opacity: 1;
        }

        .rmv-img-btn {
          background-color: rgba(255, 255, 255, .7);
          font-size: 16px;
          padding: 6px;
          cursor: pointer;
          height: 100%;
        }
        .img-h {
          
          margin-right: -19px;
        }
        .img-input{
          font-size: 2rem;
          padding: 15px 0;
          color: #999;
          background-color: #e0e2e3;
          border-color: #babfc4;
          width: 100px;
          margin-left: 15px;
        }
        .img-input:hover{
          background-color: #007bff ;
          color: #fff;
          border: 1px solid steelblue;
        }

        #oneItemVariant input, #oneItemVariant label{
          margin: 5px 5px;
         
        }
        .form-inline label {
          justify-content: left;
        }
        
      </style>
{% endblock %}

      <header class="panel-heading m-4" style="font-size: 25px;" >
              {% trans 'Product Details' %}
      </header>
      <form action="/api/products" class="bg-light m-2 p-5">
        <div class="row">

          <!--Starts left side inputs-->
          <div class="col-md-7">

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Official Product Name:</label>
              <input name="name" type="text" class="form-control col-md-8" id="name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Brand or manufacturer name:</label>
              <input name="brand_name" type="text" class="form-control col-md-8" id="brand-name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Product ID(URL):</label>
              <input name="url_str" type="text" class="form-control col-md-8" id="url-str">
            </div>
            
            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Product Category:</label>
              <select name="category" class="form-control col-md-8 custom-select" id="category">
                <option disabled selected>Select</option>
                <option value="">Category 1</option>
                <option value="">Category 2</option>
              </select>
            </div>

      

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="variety">Variations:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="one" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="one">1 Item</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="two" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="two">2 Items</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="none" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="none">None</label>
              </div>
            </div>

            <div id="variety-content" class="form-group row">

            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">JAN code:</label>
              <input type="text" class="form-control col-md-8" id="name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Stock Quantity:</label>
              <input type="text" class="form-control col-md-3" id="name">
            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="status">Status:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="published" name="status" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="published">Published</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="non-published" name="status" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="non-published">Non Published</label>
              </div>
             
            </div>

            
            <div class="form-group row">
              <label class="col-md-4 m-2" for="opened_date">Published Date:</label>

              <div class="col-md-6 input-group" id="datetimepicker" style="padding-left: 0px;">
                <input name="opened_date" type="date" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="far">&#xf073;</i> 
                  </span>
                </div>
                
                  
                  
              </div>
              <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">* Before the release date, it will not be published <br/> even if it is set to “Publish”.</p >
            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="is-used">Product COndition:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="new" name="is_used" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="new">New</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-4">
                <input type="radio" id="second-hand" name="is_used" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="second-hand">Second Hand Goods</label>
              </div>

            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="target">For Sale:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="all-users" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="all-users">All Users</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="general-only" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="general-only">General Only</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="story-only" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="story-only">Store Only</label>
              </div>
              <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">* Displayed only to target users</p>
            </div>
            
            
          </div>
          <!--Ends left side inputs-->

          <!--Starts right side inputs-->
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="price">General Price:</label>
              <input name="price" type="text" class="form-control col-md-6" id="price">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="store_price">Store Price:</label>
              <input name="store_price" type="text" class="form-control col-md-6" id="store_price">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="shipping_fee">Shipping:</label>
              <input name="shipping_fee" type="text" class="form-control col-md-6" id="shipping_fee">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="price">PR Statement:</label>
              <input name="pr" type="text" class="form-control col-md-6" id="pr">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="description">Product Description:</label>
              <textarea name="description" class="form-control col-md-6" id="description" rows="6"></textarea>
              
            </div>

            <!--Image upload-->

            
            
            <div id="img-wrapper" class="row" style=" margin: 150px 0 0 0;">
              <div class="col-md-4">
                <div class="row img-h">
                  <label for="file" id="add-img-btn-0" class="btn btn-secondary text-center col-md-12 img-input" style="margin-left: 70px; margin-right: 70px;"  onclick="document.getElementById('file').click()">
                    + 
                    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)"  style="display: none">
                  </label>
                  <div class="col-md-12 img-container" id="images-0">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--MAx 5 error message-->
          <button id="max-img-btn" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Error Max Images</button>
          <!-- Max image Error message modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-left: auto !important">
              <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                  
                  <p class="modal-title text-danger text-center" style="width: 100%;">Warning!</p>
                  <button type="button" class="close" data-dismiss="modal" style="width: 100%;">&times;</button>
                </div>
                <div class="modal-body">
                  <p class="text-danger">Maximum of 5 images are allowed only.</p>
                </div>
                <div class="modal-footer" style="border-top: 0px;">
                  <button type="button" class="btn btn-default body1" data-dismiss="modal" style="margin: 0 auto;font-size: 0.80rem;">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <!--Ends left side inputs-->
          
          <div class="col-md-6">
            {% comment %} <input type="submit" class="btn btn-default col-md-2 bg-primary m-5 text-white" value="Save">
            <p class="btn btn-default bg-secondary m-2 text-white">Cancell</p> {% endcomment %}
            <button type="button" onclick="saveProductInfo()" name="btnProductSave" id="btnProductSave" class="btn btn-primary blue-btn">{% trans 'Save' %}</button>
            <a class="btn btn-default gray-btn" onclick="cancelProductForm()">{% trans 'Cancel' %}</a>
          </div>
         
      </form> 
    </div>


    <!-- starts --Modal for 1 item variant -->
    <div class="modal fade" id="oneItemVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom: 0px;">
            <h6 class="modal-title font-weight-bold" id="exampleModalLabel">Variation item registration</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label for="title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Color, Size, etc">
              </div>
              <div class="form-group">
                <p style="width: 50px;" class="m-2"> </p>
                <label for="message-text" class="col-form-label" style="width: 200px;">Choices:</label>
                <label for="message-text" class="col-form-label" style="width: 100px;">JAN Code:</label>
                <label for="message-text" class="col-form-label" style="width: 50px;">Stock:</label>
                <p class="m-2" style="width: 50px;"> </p>
              </div>
              <div class="form-group">
                <p class="m-2" style="width: 20px;">1</p>
                <input type="text" class="form-control" id="message-text" placeholder="" style="width: 200px;">
                
                <input type="text" class="form-control" id="message-text" placeholder="" style="width: 100px;">
                
                <input type="text" class="form-control" id="message-text" placeholder="" style="width: 50px;">
                <p class="m-2" style="width: 10px; cursor: pointer;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode)"><i class="fas fa-trash-alt" style="color: #9f111f;"></i> </p>
              </div>
              <div id="oneItemGroup">
                <div class="form-group">
                  <p class="m-2" style="width: 20px;">2</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 200px;">
                  
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 50px;">
                  <p class="m-2" style="width: 10px; cursor: pointer;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode)"><i class="fas fa-trash-alt" style="color: #9f111f;"></i> </p>
                </div>
              </div>

              <div style="width: 100%;" class="text-left"><p id="addToOneItemVariant" class="btn btn-primary">+</p></div>
            </form>
          </div>
          <div class="modal-footer" style="border-top: 0px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- starts --Modal for 2 items variant -->
    <div class="modal fade" id="twoItemsVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Choices:</label>
                <input type="text" class="form-control" id="message-text">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!--Ends moal for variant-->
