@charset "utf-8";
/**
 *  http://bank-auto.com/ 用CSS
 */

#bnkauto {
	position: absolute;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background: #009999;
	font-weight: normal;
	padding: 5px 8px !important;
	border-radius: 8px;
	z-index: 999999;
}


@media only screen and (min-width: 768px) {
/* PC */
.bnk_line {         /* 行部分 */
	color: #ffffcc;
}
#bnk_count {        /* Hit件数 */
	color: #ffffcc;
	white-space: nowrap;
}
#bnk_close a {
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
#bnk_footer a {
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
}


@media only screen and (max-width: 767px) {
/* Smart */
.bnk_line {         /* 行部分 */
	font-size:30px;
	color: #009999 !important;
	text-decoration:none;
	white-space:nowrap;
	display:block;
	position:relative;
	margin:5px 0;
	padding:0px 25px 0px 5px;
	border-radius:5px;
	background:#fff;
	font-weight:bold;
}
.bnk_line:after {
	display:block;
	content:"";
	position:absolute;
	top:50%;
	right:10px;
	width:6px;
	height:6px;
	border-top:solid 2px #093;
	border-right:solid 2px #093;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
#bnk_bottom {
	white-space: nowrap;
}
#bnk_count {        /* Hit件数 */
	font-size:10px !important;
	color: #ffffcc;
	white-space: nowrap;
}
#bnk_close a {
	font-size:11px !important;
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
#bnk_footer a {
	font-size:10px !important;
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
}