
{% block extrahead %}
    {% load static %}
    {% load i18n %}
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <style>
        .images{
          width: 100%;
          object-fit: cover;
          height: 90px;
          border-radius: 5px;
        }
        .img-container {
          position: relative;
         
        }

        .overlay {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }

        .overlay {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          height: 90px;
        }

        .img-container:hover .image {
          opacity: 0.3;
        }

        .img-container:hover .overlay {
          opacity: 1;
        }

        .rmv-img-btn {
          background-color: rgba(255, 255, 255, .7);
          font-size: 16px;
          padding: 6px;
          cursor: pointer;
          height: 100%;
        }
        
        .img-input{
          font-size: 2rem;
          color: #999;
          background-color: #e0e2e3;
          border-color: #babfc4;
          height: 90px;
          position: absolute;
          margin: 0 15px;
          max-width: 100px;
          min-width: 100px;
          padding: 17%;
        }
        .img-input:hover{
          background-color: #007bff ;
          color: #fff;
          border: 1px solid steelblue;
        }

        #oneItemVariant input, #oneItemVariant label, #twoItemsVariant input, #twoItemsVariant label{
          margin: 5px 5px;
         
        }
        .form-inline label {
          justify-content: left;
        }
        .cross-btn {
          width: 100%;
          text-align: right;
          color: #dd0f0f;
          font-size: 2rem;
          padding: 12px;
        }
        
        #addToOneItemVariant, #addToFirstOfTwoItemVariant, #addToLastOfTwoItemVariant{
          margin-top: -54px;
          border-radius: 50%;
          padding: 0px 7px;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 26px;
        }
        /* two item variation*/
        #firstOfTwoItem, #lastOfTwoItem {
          border: 2px solid #ccc;
          padding: 15px;
          margin: 10px auto;
        }
        .img-box {
          max-width: 115px;min-width: 115px;padding-left: 10px;padding-right: 5px;
        }
        
        .img-del-btn{
          font-size: 2rem;margin-top: 20%;margin-left: 4%; color: #9f111f;
        }
       .variant-col {
        width: 80px;
        height: 80px;
        background: #ededed;
        border: 1px solid;
        padding: 10px;
       }
      </style>
{% endblock %}

      <header class="panel-heading m-4" style="font-size: 25px;" >
              {% trans 'Product Details' %}
              
      </header>
      <div class="table-section white-bg">
        {% comment %} <form action="/products/product_add/" class="m-2 p-5">  {% endcomment %}
          <div class="row">

            <!--Starts left side inputs-->
            <div class="col-md-7">

              <div class="form-group row">
                <label class="col-md-4 p-2" for="name">{% trans 'Official Product Name' %}</label>
                <input name="name" type="text" class="form-control col-md-8" id="name">
              </div>

              <div class="form-group row">
                <label class="col-md-4 p-2" for="name">{% trans 'Brand or manufacturer name' %}</label>
                <input name="brand_name" type="text" class="form-control col-md-8" id="brand-name">
              </div>

              <div class="form-group row">
                <label class="col-md-4 p-2" for="name">{% trans 'Product ID(URL)' %}</label>
                <input name="url_str" type="text" class="form-control col-md-8" id="url-str">
              </div>
              
              <div class="form-group row">
                <label class="col-md-4 p-2" for="category">{% trans 'Product Category' %}</label>
                <div class="col-md-8">
                  <select name="category" class="form-control" id="category">
                    <option disabled selected>Select</option>
                    <option value="">Category 1</option>
                    <option value="">Category 2</option>
                    <option value="">Category 3</option>
                  </select>
                </div>
              </div>

        

              <div class="form-group row form-check form-check-inline">
                <label class="col-md-4" for="variety">{% trans 'Variations' %}</label>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="one" name="variety" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="one">{% trans '1 Item' %}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="two" name="variety" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="two">{% trans '2 Items' %}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="none" name="variety" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="none">{% trans 'None' %}</label>
                </div>
              </div>

              <div id="variety-content" class="form-group row">

              </div>
              <div id="variety-table" class="form-group row">

              </div>

              <div class="form-group row">
                <label class="col-md-4 p-2" for="name">{% trans 'JAN code' %}</label>
                <input type="text" class="form-control col-md-8" id="name">
              </div>

              <div class="form-group row">
                <label class="col-md-4 p-2" for="name">{% trans 'Stock Quantity' %}</label>
                <input type="text" class="form-control col-md-3" id="name">
              </div>

              <div class="form-group row form-check form-check-inline">
                <label class="col-md-4" for="status">{% trans 'Status' %}</label>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="published" name="status" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="published">{% trans 'Published' %}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="non-published" name="status" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="non-published">{% trans 'Non Published' %}</label>
                </div>
              
              </div>

              
              <div class="form-group row">
                <label class="col-md-4 m-2" for="opened_date">{% trans 'Published Date' %}</label>

                <div class="col-md-6 input-group" id="datetimepicker" style="padding-left: 0px;">
                  <input name="opened_date" type="date" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="far">&#xf073;</i> 
                    </span>
                  </div>
                  
                    
                    
                </div>
                <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">{% trans '* Before the release date, it will not be published <br/> even if it is set to Publish' %}</p >
              </div>

              <div class="form-group row form-check form-check-inline">
                <label class="col-md-4" for="is-used">{% trans 'Product COndition' %}</label>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="new" name="is_used" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="new">{% trans 'New' %}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-md-4">
                  <input type="radio" id="second-hand" name="is_used" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="second-hand">{% trans 'Second Hand Goods' %}</label>
                </div>

              </div>

              <div class="form-group row form-check form-check-inline">
                <label class="col-md-4" for="target">For Sale:</label>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="all-users" name="target" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="all-users">{% trans 'All Users' %}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="general-only" name="target" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="general-only">{% trans 'General Only' %}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline col-md-2">
                  <input type="radio" id="story-only" name="target" class="custom-control-input form-check-input">
                  <label class="form-check-label custom-control-label" for="story-only">{% trans 'Store Only' %}</label>
                </div>
                <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">{% trans '* Displayed only to target users' %}</p>
              </div>
              
              
            </div>
            <!--Ends left side inputs-->

            <!--Starts right side inputs-->
            <div class="col-md-5">
              <div class="form-group row">
                <label class="col-md-6 text-center p-2" for="price">{% trans 'General Price' %}</label>
                <input name="price" type="text" class="form-control col-md-6" id="price">
                
              </div>

              <div class="form-group row">
                <label class="col-md-6 text-center p-2" for="store_price">{% trans 'Store Price' %}</label>
                <input name="store_price" type="text" class="form-control col-md-6" id="store_price">
                
              </div>

              <div class="form-group row">
                <label class="col-md-6 text-center p-2" for="shipping_fee">{% trans 'Shipping' %}</label>
                <input name="shipping_fee" type="text" class="form-control col-md-6" id="shipping_fee">
                
              </div>

              <div class="form-group row">
                <label class="col-md-6 text-center p-2" for="price">{% trans 'PR Statement' %}</label>
                <input name="pr" type="text" class="form-control col-md-6" id="pr">
                
              </div>

              <div class="form-group row">
                <label class="col-md-6 text-center p-2" for="description">{% trans 'Product Description' %}</label>
                <textarea name="description" class="form-control col-md-6" id="description" rows="6"></textarea>
                
              </div>

              <!--Image upload-->

              
              
              <div id="img-wrapper" class="row">
                <div class="col-md-4 mt-5 img-box">
                  <div class="row img-h">
                    <label for="file" id="add-img-btn-0" class="btn btn-secondary text-center col-md-12 img-input">
                      + 
                      <input type="file"  accept="image/*" name="image" id="file" onchange="loadFile(event)"  style="display: none">
                    </label>
                    <div class="col-md-12 img-container" id="images-0">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--MAx 5 error message-->
            <button id="max-img-btn" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">{% trans 'Error Max Images' %}</button>
            <!-- Max image Error message modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm" style="margin-left: auto !important">
                <div class="modal-content">
                  <div class="modal-header" style="border-bottom: 0px;">
                    
                    <p class="modal-title text-danger text-center" style="width: 100%;">{% trans 'Warning' %}</p>
                    <button type="button" class="close cross-btn" data-dismiss="modal" style="padding: 12px;">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p class="text-center">{% trans 'Maximum of 5 images are allowed only.' %}</p>
                  </div>
                  <div class="modal-footer" style="border-top: 0px;">
                    <button type="button" class="btn btn-default body1 btn-outline-secondary" data-dismiss="modal" style="margin: 0 auto;font-size: 1rem; border-radius: 15px; border: 2px solid #acacac;">{% trans 'Close' %}</button>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Ends left side inputs-->
            
            
          </div>
          <div class="row mt-5 pt-5">
            <div class="col-md-6 mt-5">
              {% comment %} <input type="submit" class="btn btn-default blue-btn col-md-2 bg-primary m-5 text-white" value="Save">
              <p class="btn btn-default gray-btn m-2 text-white">{% trans 'Cancel' %}</p> {% endcomment %}
              <button type="button" onclick="saveProductInfo()" name="btnProductSave" id="btnProductSave" class="btn btn-primary blue-btn">{% trans 'Save' %}</button>
              <a class="btn btn-default gray-btn" onclick="cancelProductForm()">{% trans 'Cancel' %}</a>
            </div>
          </div>
        {% comment %} </form> {% endcomment %}
      </div>
    </div>


    <!-- starts --Modal for 1 item variant -->
    <div class="modal fade" id="oneItemVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom: 0px;">
            <h6 class="modal-title font-weight-bold" id="exampleModalLabel">{% trans 'Variation item registration' %}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label for="one-item-title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="one-item-title" placeholder="Color, Size, etc">
              </div>
              <div class="form-group">
                <p style="width: 20px;" class="m-2"> </p>
                <p style="width: 20px;" class="m-2"> </p>
                <label for="message-text" class="col-form-label" style="width: 160px;">{% trans 'Choices' %}</label>
                <label for="message-text" class="col-form-label" style="width: 100px;">{% trans 'JAN Code' %}</label>
                <label for="message-text" class="col-form-label" style="width: 50px;">{% trans 'Stock' %}%'</label>
                <p class="m-2" style="width: 50px;"> </p>
              </div>
              
              <div id="oneItemGroup">
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 one-variant-counter" style="width: 20px;">1</p>
                  <input type="text" class="form-control one-item-choices" id="message-text" placeholder="" style="width: 160px;">
                  
                  <input type="text" class="form-control one-item-jan-code" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="number" class="form-control one-item-stock" id="message-text" placeholder="" style="width: 70px;">
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptions();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                </div>
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 one-variant-counter" style="width: 20px;">2</p>
                  <input type="text" class="form-control one-item-choices" id="message-text" placeholder="" style="width: 160px;">
                  
                  <input type="text" class="form-control one-item-jan-code" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="number" class="form-control one-item-stock" id="message-text" placeholder="" style="width: 70px;">
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptions();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                </div>
              </div>

              <div style="width: 100%;" class="text-left"><p id="addToOneItemVariant" class="btn btn-secondary">+</p></div>
            </form>
          </div>
          <div class="modal-footer" style="border-top: 0px;">
            <div>
              <p>
                {% trans '* If you delete the option, the registered JAN code and inventory information will also be deleted' %}
              </p>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display: none;">{% trans 'Close' %}</button>
            <button type="button" id="one-item-save-btn" class="btn btn-primary" style="margin: 10px auto; padding: 5px 40px;" onclick="saveOneItemData();">{% trans 'Save' %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- starts --Modal for 2 items variant -->
    <div class="modal fade" id="twoItemsVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            
              <h5 class="modal-title font-weight-bold" id="exampleModalLabel">{% trans 'Variant Items Registration' %}</h5>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            
          </div>
          
          <div class="modal-body">
            <p class="text-danger col-md-12">{% trans '* Register one or more options on the horizontal and vertical axes.' %}</p>
            <form class="form-inline">
              <div id="firstOfTwoItem">
                <div class="font-weight-bold p-2 text-left">Horizontal axis</div>
                <div class="form-group">
                  <label for="first-of-two-items-title" class="col-form-label">{% trans 'Title' %}</label>
                  <input type="text" class="form-control" id="first-of-two-items-title" placeholder="Color, Size, etc">
                </div>
                
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p style="width: 20px;" class="m-2"> </p>
                  <label for="message-text" class="col-form-label" style="width: 160px;">{% trans 'Choices' %}</label>
                  
                  
                </div>
                
                <div id="firstOfTwoItemGroup">
                  <div class="form-group">
                  
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 first-of-two-variant-counter" style="width: 20px;">1</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsFirstOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                  <div class="form-group">
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 first-of-two-variant-counter" style="width: 20px;">2</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsFirstOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                </div>

                <div style="width: 100%;" class="text-left"><p id="addToFirstOfTwoItemVariant" class="btn btn-secondary">+</p></div>
              </div>

              <div id="lastOfTwoItem">
                <div class="font-weight-bold p-2 text-left">Vertical axis</div>
                <div class="form-group">
                  <label for="last-of-two-items-title" class="col-form-label">{% trans 'Title' %}</label>
                  <input type="text" class="form-control" id="last-of-two-items-title" placeholder="Color, Size, etc">
                </div>
                
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p style="width: 20px;" class="m-2"> </p>
                  <label for="message-text" class="col-form-label" style="width: 280px;">{% trans 'Choices' %}</label>
                  
                  
                </div>
                
                <div id="lastOfTwoItemGroup">
                  <div class="form-group">
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 last-of-two-variant-counter" style="width: 20px;">1</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsLastOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                  
                  <div class="form-group">
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 last-of-two-variant-counter" style="width: 20px;">2</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsLastOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                </div>

                <div style="width: 100%;" class="text-left"><p id="addToLastOfTwoItemVariant" class="btn btn-secondary">+</p></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div>
              <p>{% trans '* If you delete the option, the registered JAN code and inventory
                information will also be deleted' %}</p>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display: none;">{% trans 'Close' %}</button>
            <button type="button" id="two-items-save-btn" class="btn btn-primary" style="margin: 10px auto; padding: 5px 40px;" onclick="saveTwoItemsData();">{% trans 'Save' %}</button>
          </div>
        </div>
      </div>
    </div>
    <!--Ends moal for variant-->

<script type="text/javascript">
  let counter = 0;
  const imgWrapper = document.getElementById('img-wrapper');

  const loadFile = function(event) {
     
    const addImgBtn = document.getElementById(`add-img-btn-${counter}`);
    const image = document.getElementById(`images-${counter}`);

    if(imgWrapper.childElementCount < 6){ 
      image.innerHTML = `<img class="images" src="${URL.createObjectURL(event.target.files[0])}" /> 
                  <div class="overlay">
                    <div onClick="this.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode.parentNode)" class="rmv-img-btn"><i class="fas fa-trash-alt img-del-btn"></i> </div>
                  </div>
      `;
      addImgBtn.style.display = 'none';
      
      //increase counter for next
      counter ++;
      
      imgWrapper.innerHTML += `<div class="col-md-4 mt-5 img-box">
                  <div class="row img-h">
                    <label for="file" id="add-img-btn-${counter}" class="btn btn-secondary text-center col-md-12 img-input" onclick="if(!document.getElementById('file')){document.getElementById('file-${counter}').click();}">
                      + 
                      <input type="file"  accept="image/*" name="image" id="file-${counter}" onchange="loadFile(event)"  style="display: none">
                    </label>
                    <div class="col-md-12 img-container" id="images-${counter}">
                    </div>
                  </div>
                </div>`;
    } else{
      document.getElementById(`file-${counter}`).value='';
      console.log(document.getElementById(`file-${counter}`).value);
      document.getElementById('max-img-btn').click();
    }

    
  };


  
  


  

    //ends image add button increase code


    //starts variant code
    const one = document.getElementById('one');
    const two = document.getElementById('two');
    const none = document.getElementById('none');

    const varietyContent = document.getElementById('variety-content');

    one.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = `<div class="col-md-12"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#oneItemVariant">+ Item / Option</button></div>`;
    })

    two.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = `<div class="col-md-12"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#twoItemsVariant">+ Items / Options</button></div>`;
    })

    none.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = ``;
    })


    //modal for i item variant
    $('#oneItemsVariant').on('show.bs.modal', function (event) {
  // var button = $(event.relatedTarget) // Button that triggered the modal
  // var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  // var modal = $(this)
  // modal.find('.modal-title').text(recipient)
  // modal.find('.modal-body input').val(recipient)
  })
  //modal for 2 items variable
    $('#twoItemsVariant').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  // var modal = $(this)
  // modal.find('.modal-title').text(recipient)
  // modal.find('.modal-body input').val(recipient)
  })

  //one item variant code for adding more option
  function deleteOptions(){
    console.log('deleted');

    let optionArray = document.getElementsByClassName('one-variant-counter');

    for(let i = 0; i < optionArray.length; i++){
      optionArray[i].innerHTML = i + 1;
    }

  }
  
  document.getElementById('addToOneItemVariant').addEventListener('click', ()=>{
    let optionArray = document.getElementsByClassName('one-variant-counter');
    let optCounter = optionArray.length + 1;

    let newContent = document.createElement('div');
    newContent.innerHTML = `<div class='form-group'>
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 one-variant-counter" style="width: 20px;">${optCounter}</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 160px;">
                  
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="number" class="form-control" id="message-text" placeholder="" style="width: 70px;">
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptions();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>`;
    
    while (newContent.firstChild) {
      document.getElementById('oneItemGroup').appendChild(newContent.firstChild);
    }

   
  })

  //two item variants

  //first of two items variant
  function deleteOptionsFirstOfTwo(){
    console.log('deleted');

    let firstOfTwooptionArray = document.getElementsByClassName('first-of-two-variant-counter');

    for(let i = 0; i < firstOfTwooptionArray.length; i++){
      firstOfTwooptionArray[i].innerHTML = i + 1;
    }

  }

  document.getElementById('addToFirstOfTwoItemVariant').addEventListener('click', ()=>{
    let firstOfTwooptionArray = document.getElementsByClassName('first-of-two-variant-counter');
    let firstOfTwoOptCounter = firstOfTwooptionArray.length + 1;

    let firstOfTwoNewContent = document.createElement('div');
    firstOfTwoNewContent.innerHTML = `<div class='form-group'>
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 first-of-two-variant-counter" style="width: 20px;">${firstOfTwoOptCounter}</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                  
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsFirstOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>`;
    
    while (firstOfTwoNewContent.firstChild) {
      document.getElementById('firstOfTwoItemGroup').appendChild(firstOfTwoNewContent.firstChild);
    }

   
  })


  //last of two items variant
  function deleteOptionsLastOfTwo(){
    console.log('deleted');

    let lastOfTwooptionArray = document.getElementsByClassName('last-of-two-variant-counter');

    for(let i = 0; i < lastOfTwooptionArray.length; i++){
      lastOfTwooptionArray[i].innerHTML = i + 1;
    }

  }

  document.getElementById('addToLastOfTwoItemVariant').addEventListener('click', ()=>{
    let lastOfTwooptionArray = document.getElementsByClassName('last-of-two-variant-counter');
    let lastOfTwoOptCounter = lastOfTwooptionArray.length + 1;

    let lastOfTwoNewContent = document.createElement('div');
    lastOfTwoNewContent.innerHTML = `<div class='form-group'>
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 last-of-two-variant-counter" style="width: 20px;">${lastOfTwoOptCounter}</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                  
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsLastOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>`;
    
    while (lastOfTwoNewContent.firstChild) {
      document.getElementById('lastOfTwoItemGroup').appendChild(lastOfTwoNewContent.firstChild);
    }

   
  })

    //ends variant code
  
  
  /*
  *
  *save variant data to the form 
  *
  */

  function saveOneItemData(){
    console.log('clicked 1');
    const oneItemVariantName = document.getElementById('one-item-title').value;
    const oneItemVariantChoices = document.getElementsByClassName('one-item-choices');
    const oneItemVariantJan = document.getElementsByClassName('one-item-jan-code');
    const oneItemVariantStock = document.getElementsByClassName('one-item-stock');

    console.log(oneItemVariantName);

    const varietyTable = document.getElementById('variety-table');

    //create table wrapper for the one item variant
    varietyTable.innerHTML = `<div class="col-md-12"><div class="row" id="one-variant-title-row">
      <div class="variant-title variant-col">${oneItemVariantName}</div>
    </div>
    <div class="row" id="one-variant-info-row">
      <div class="variant-info variant-col">-</div>
    </div>
    </div>
    `
    

    for(let i = 0; i < oneItemVariantChoices.length; i++){
      let newTableChoices = document.createElement('div'); 
      let newTableContent = document.createElement('div'); 
      let choicesValue = oneItemVariantChoices[i].value;
      let janValue = oneItemVariantJan[i].value;
      let stockValue = oneItemVariantStock[i].value;
      newTableChoices.innerHTML = `<div class="variant-title variant-col">${choicesValue}</div>`;
      newTableContent.innerHTML = `<div class="variant-info variant-col"><p class="text-center">${janValue}</p><p class="text-center">${stockValue}</p></div>`;
      
      
      if(newTableChoices.firstChild){
        document.getElementById('one-variant-title-row').appendChild(newTableChoices.firstChild);
      }

      if(newTableContent.firstChild){
        document.getElementById('one-variant-info-row').appendChild(newTableContent.firstChild);
      }
      
      
    }
    varietyTable.style.overflow= 'scroll';


  }

  function saveTwoItemsData(){

    console.log('clicked 2')

  }
</script>