{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    {% load i18n %}
{% endblock %}

{% block title %}{% trans 'Payment Management' %}{% endblock %}

{% block sales_a_active %}
    active
{% endblock %}

{% block sales_i_active %}
    active
{% endblock %}

{% block payment_list_active %}
    active
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <header class="panel-heading" style="font-size: 25px">
                                    {% trans 'Payment Management' %}
                            </header>
                            <div class="row">
                                <div class="col-lg-4 row">
                                    <a style="border-color: transparent;" class="btn btn-white col-lg-2 pt-5" onclick="changeDate('Prev')"><i class="fas fa-chevron-circle-left fa-2x"></i></a>
                                    <p id="payment_changable_date" class="changable_date pt-5"></p>
                                    <a style="border-color: transparent;" class="btn btn-white col-lg-2 pt-5" onclick="changeDate('Next')"><i class="fas fa-chevron-circle-right fa-2x"></i></a>
                                </div>
                            </div>
                            <div class="form-group form-check text-center">
                                <input type="checkbox" class="form-check-input checkbox-2x" id="ambassador_check">
                                <label class="form-check-label" for="ambassador_check">{% trans 'Ambassador' %}</label>
                                <input type="checkbox" class="form-check-input checkbox-2x" id="store_check">
                                <label class="form-check-label" for="store_check">{% trans 'Store' %}</label>
                                <input type="checkbox" class="form-check-input checkbox-2x" id="paid_check">
                                <label class="form-check-label" for="paid_check">{% trans 'Paid' %}</label>
                                <input type="checkbox" class="form-check-input checkbox-2x" id="not_yet_check">
                                <label class="form-check-label" for="not_yet_check">{% trans 'Not Yet' %}</label>
                            </div>
                            <div class="table-section white-bg">
                                <div class="adv-table table-responsive">
                                    <table class="display table table-bordered table-striped table-condensed"
                                        id="payment-table" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Bank' %}</th>
                                            <th>{% trans 'Branch' %}</th>
                                            <th>{% trans 'Account Number' %}</th>
                                            <th>{% trans 'Account Holder' %}</th>
                                            <th>{% trans 'Amount' %}</th>
                                            <th>{% trans 'Payment Date' %}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script>
    <script type="text/javascript">

    var selected_year;
    var selected_month;
    var auth_list = [3, 4];
    var status_list = [1, 0];

    $(document).ready(function () {
        moment.locale('ja');
        $('#payment_changable_date').html(moment().format('YYYY年MMM'));
        selected_year = moment().format('YYYY');
        selected_month = moment().format('MM');

        //get paymnt data
        loadPaymentData();
    })

    function changeDate(to) {
        if (to == 'Next') {
            var date = $('#payment_changable_date').text();
            var momnt = moment(date, "YYYY年MMM").add(1, 'months').format("YYYY年MMM");
            $('#payment_changable_date').html(momnt);
            selected_year = moment(date, "YYYY年MMM").add(1, 'months').format("YYYY");
            selected_month = moment(date, "YYYY年MMM").add(1, 'months').format("MM");
        } else {
            var date = $('#payment_changable_date').text();
            var momnt = moment(date, "YYYY年MMM").subtract(1, 'months').format("YYYY年MMM");
            $('#payment_changable_date').html(momnt);
            selected_year = moment(date, "YYYY年MMM").subtract(1, 'months').format("YYYY");
            selected_month = moment(date, "YYYY年MMM").subtract(1, 'months').format("MM");
        }

        //refresh the list again
        loadPaymentData();
    }

    function loadPaymentData() {
        $('#payment-table').DataTable().destroy();
        $('#payment-table').DataTable({
            //"order": [[1, "asc"]],
            "serverSide": true,
            "scrollX": true,
            stateSave: true,
            "ajax": {
                "url": "{% url 'PaymentList__asJson' %}",
                "data": {
                    "auth_str": JSON.stringify(auth_list),
                    "status_str": JSON.stringify(status_list),
                    "year": selected_year,
                    "month": selected_month
                }
            },
            "columns": [
                {"data": "no", "orderable": false},
                {"data": "name", "orderable": false},
                {"data": "bank_name", "orderable": false},
                {"data": "branch_name", "orderable": false},
                {"data": "account_number", "orderable": false},
                {"data": "account_name", "orderable": false},
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return comma_format(row.amount, 0) + JPCUR;
                    }
                },
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        if (row.paid_date != '') {
                            return row.paid_date;
                        } else {
                            return `<input class="form-control trs-field paid_date" type="date"
                                    name="paid_date" row="` + row.no + `">`;
                        }
                    }
                }
            ]
        });
    }

    $('input[type="checkbox"]').click(function(){
        auth_list.length = 0;
        if($('#ambassador_check').prop("checked") == true){
            auth_list.push(3); // 3 is ambassador authority id 
        }
        if($('#store_check').prop("checked") == true){
            auth_list.push(4); // 4 is store authority id 
        }
        if (auth_list.length == 0) {
            auth_list = [3, 4]
        }

        status_list.length = 0;
        if($('#paid_check').prop("checked") == true){
            status_list.push(1); // paid
        }
        if($('#not_yet_check').prop("checked") == true){
            status_list.push(0); // not paid
        }

        if (status_list.length == 0) {
            status_list = [1, 0];
        }
        
        //refresh the list again
        loadPaymentData();
    });

    $(document).on('change', '.paid_date', function(event) {
        let date = $(this).val();
        let line = $(event.target).attr('row');
        var dtTable = $('#payment-table').DataTable();
        var paymentObj = dtTable.rows(line-1).data()[0];
        console.log(paymentObj);
        if (paymentObj !== undefined && date != '') {
            updatePaidDate(paymentObj, date);
        }
    });

    function updatePaidDate(paymentObj, date) {
        $.ajax({
            method: "POST",
            url: '/profiles/update_payment/',
            dataType: 'JSON',
            data: {
                'payment_id': paymentObj.id,
                'payment_date': date,
            },
        })
        .done(function(json) {
            if (json.message == 'Success') {
                //refresh the list again
                loadPaymentData();
            }
        })
        .fail(function(e) {
            console.log(e);
        })
    }

    $(document).click(function (event) {
        //hide al‘l our dropdowns
        $('.dropdown-menu[data-parent]').hide();
    });
    </script>
{% endblock %}
