{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    {% load i18n %}
{% endblock %}

{% block title %}{% trans 'Profile List' %}{% endblock %}

{% block account_a_active %}
    active
{% endblock %}

{% block account_i_active %}
    active
{% endblock %}

{% block account_list_active %}
    active
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="panel-body">
                            <header class="panel-heading" style="font-size: 25px">
                                    {% trans 'Profile List' %}
                            </header>

                            <div class="table-section white-bg">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input checkbox-2x" id="store_check">
                                    <label class="form-check-label" for="store_check">{% trans 'Store' %}</label>
                                    <input type="checkbox" class="form-check-input checkbox-2x" id="general_check">
                                    <label class="form-check-label" for="general_check">{% trans 'General' %}</label>
                                    <input type="checkbox" class="form-check-input checkbox-2x" id="unapproved_check">
                                    <label class="form-check-label" for="unapproved_check">{% trans 'Unapproved' %}</label>
                                    <input type="checkbox" class="form-check-input checkbox-2x" id="master_check">
                                    <label class="form-check-label" for="master_check">{% trans 'Master' %}</label>
                                    <input type="checkbox" class="form-check-input checkbox-2x" id="ambassador_check">
                                    <label class="form-check-label" for="ambassador_check">{% trans 'Ambassador' %}</label>
                                    <div class="text-right pb-3">
                                        <span class="">
                                            <a class="btn btn-primary blue-btn" href="{% url 'profile_add' %}"> 
                                                <span>{% trans 'Add' %}</span>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                                <div class="adv-table table-responsive">
                                    <table class="display table table-bordered table-striped table-condensed"
                                        id="dynamic-table" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th style="max-width: 45px !important">#</th>
                                            <th style="min-width: 85px !important">{% trans 'Type' %}</th>
                                            <th style="min-width: 75px !important">{% trans 'Name' %}</th>
                                            <th style="min-width: 125px !important">{% trans 'Number of store accounts' %}</th>
                                            <th style="min-width: 95px !important">{% trans 'Number of general users' %}</th>
                                            <th class="text-center" style="min-width:90px !important;">{% trans 'Options' %}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {#Comfirm Delete#}
    <div class="modal fade" id="comfirmDeleteProfileModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>{% trans 'Delete Confirm Dialog' %}</strong></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="padding-bottom: 0px!important; padding: 0 3%;">
                    <form action="">
                        <div class="form-group">
                            <label>{% trans 'Are you sure want to delete?' %}</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button class="btn btn-default" type="button" data-dismiss="modal">{% trans 'No' %}</button>
                    <a id="comfirm-yes">
                        <button class="btn btn-success" type="button">{% trans 'Yes' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#End Comfirm delete#}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script>
    <script type="text/javascript">
    (function () {
        $(document).ready(function () {
            var campreto = $('#dynamic-table').DataTable({
                "order": [[2, "asc"]],
                "pageLength": 100,
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'ProfileList__asJson' %}",
                    "data": {
                        "filter_str": '[1, 2, 3, 4, 5]'
                    }
                },
                "columns": [
                    {"data": "no", "orderable": false},
                    {"data": "type", "orderable": false},
                    {"data": "real_name", "orderable": true},
                    {"data": "store_total", "orderable": false},
                    {"data": "user_total", "orderable": false},
                    
                    {
                        "sClass": "text-center",
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            var btn =
                                    '<div class="btn-group">' +
                                    '<a class="btn-group-item pointer" href="/profiles/profile_edit/' + row.id + '/' + '"><i class="fas fa-pencil-alt fa-2x text-info"></i></a>' + 
                                    '<a class="btn-group-item pointer" onclick="deleteProfile(' + row.id + ')"><i class="fas fa-trash-alt fa-2x text-danger"></i></a>' + 
                                    '</div>';
                            return btn;
                        }
                    }
                ]
            });
        });
        
    }());
    function deleteProfile(id) {
        var url = '/profiles/profile_delete/' + id + '/'
        $("#comfirmDeleteProfileModal").modal("show");
        $("#comfirm-yes").attr("href", url);
    }

    var filter_list = [];
    $('input[type="checkbox"]').click(function(){
        filter_list.length = 0;
        if($('#ambassador_check').prop("checked") == true){
            filter_list.push(3); // 3 is ambassador authority id 
        }
        if($('#store_check').prop("checked") == true){
            filter_list.push(4); // 4 is store authority id 
        }
        if($('#general_check').prop("checked") == true){
            filter_list.push(5); // 5 is general authority id 
        }
        if($('#master_check').prop("checked") == true){
            filter_list.push(1); // 1 is master authority id 
        }
        if($('#unapproved_check').prop("checked") == true){
            filter_list.push(0); // 0 is for unapproved user list
        }

        if (filter_list.length == 0) {
            filter_list = [1, 2, 3, 4, 5];
        }
        filter_str = JSON.stringify(filter_list);

        $('#dynamic-table').DataTable().destroy();
        $('#dynamic-table').DataTable({
            "order": [[2, "asc"]],
            "pageLength": 100,
            "serverSide": true,
            "scrollX": true,
            stateSave: true,
            "ajax": {
                "url": "{% url 'ProfileList__asJson' %}",
                "data": {
                    "filter_str": filter_str
                }
            },
            "columns": [
                {"data": "no", "orderable": false},
                {"data": "type", "orderable": false},
                {"data": "real_name", "orderable": false},
                {"data": "store_total", "orderable": false},
                {"data": "user_total", "orderable": false},
                
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        var btn =
                                '<div class="btn-group">' +
                                '<a class="btn-group-item" href="/profiles/profile_edit/' + row.id + '/' + '"><i class="fas fa-pencil-alt fa-2x text-info"></i></a>' + 
                                '<a class="btn-group-item" onclick="deleteProfile(' + row.id + ')"><i class="fas fa-trash-alt fa-2x text-danger"></i></a>' + 
                                '</div>';
                        return btn;
                    }
                }
            ]
        });
    });

    $(document).click(function (event) {
        //hide al‘l our dropdowns
        $('.dropdown-menu[data-parent]').hide();
    });
    </script>
{% endblock %}
