{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-fileupload/bootstrap-fileupload.css' %}"/>
{% endblock %}

{% block title %}Account Add{% endblock %}

{% block account_a_active %}
    active
{% endblock %}

{% block account_i_active %}
    active
{% endblock %}

{% block account_add_active %}
    active
{% endblock %}

{% block content %}
    <form class="form-horizontal" 
        {% if profile.id %}
        action="{% url 'profile_edit' profile.id %}" 
        {% else %}
        action="{% url 'profile_add' %}" 
        {% endif %}
        role="form" method="post" onsubmit="" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="content">
            <header class="panel-heading" style="font-size: 25px; margin-bottom: 20px;" >
                    Account Details
            </header>
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist"
                style="padding-left: 20px; margin-left: 18px; margin-right: 24px;">
                <li class="nav-item" id="basic_tab_li">
                    <a href="#basic_tab" class="nav-link active" id="basic_tab_a" data-toggle="tab" role="tab" aria-controls="basic_tab" aria-selected="true">基本情報</a>
                </li>
                <li class="nav-item" id="item_tab_li">
                    <a href="#item_tab" class="nav-link" id="item_tab_a" data-toggle="tab" role="tab" aria-controls="item_tab" aria-selected="false">出品一覧</a>
                </li>
                <li class="nav-item" id="client_tab_li">
                    <a href="#client_tab" class="nav-link" id="client_tab_a" data-toggle="tab" role="tab" aria-controls="client_tab" aria-selected="false">顧客</a>
                </li>
                <li class="nav-item" id="account_info_tab_li">
                    <a href="#account_info_tab" class="nav-link" id="account_info_a" data-toggle="tab" role="tab" aria-controls="account_info_tab" aria-selected="false">口座情報</a>
                </li>
                <li class="nav-item" id="sales_info_tab_li">
                    <a href="#sales_info_tab" class="nav-link" id="sales_info_a" data-toggle="tab" role="tab" aria-controls="sales_info_tab" aria-selected="false">サロン情報</a>
                </li>
                <li class="nav-item" id="shipping_info_tab_li">
                    <a href="#shipping_info_tab" class="nav-link" id="shipping_info_a" data-toggle="tab" role="tab" aria-controls="shipping_info_tab" aria-selected="false">送付先情報</a>
                </li>
            </ul>
            <div class="table-section white-bg">
                <div id="my-tab-content" class="tab-content">
                    <div id="basic_tab" role="tabpanel"
                        class="tab-pane active">
                        <section class="panel">
                            <header class="panel-heading" style="font-size: 25px">
                                <strong>Profile</strong>
                            </header>
                            <div class="row">
                                <div class="col-lg-4" style="margin-top: 4%">
                                    <div class="form-group">
                                        {# Profile Image #}
                                        <label class="control-label col-lg-12 col-sm-12">Profile Image</label>
                                        <div class="col-md-8">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail" style="width: 300px; height: 300px;">
                                                    {% if profile.image %}
                                                        <img src="{{ media_url }}{{ profile.image.image }}" alt="" name="profile_image"/>
                                                    {% else %}
                                                        <img src="{% static 'img/blank_male.png' %}" alt="" name="profile_image"/>
                                                    {% endif %}
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                    style="max-width: 300px; max-height: 300px; line-height: 20px;"></div>
                                                <div class="text-right">
                                                    <span class="btn btn-white btn-file">
                                                        <span class="fileupload-new"><i class="fas fa-pencil-alt fa-2x"></i></span>
                                                        <span class="fileupload-exists"><i class="fas fa-undo fa-2x"></i></span>
                                                        <input name="profile_image" type="file" class="default"/>
                                                    </span>
                                                    <a href="javascript:void(0)" class="btn btn-danger fileupload-exists btnRemoveLogo"
                                                    data-dismiss="fileupload"><i class="fas fa-trash-alt fa-2x"></i> </a>
                                                    <input style="display: none;" name="rm_profile_image" class="hidethis">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-offset-2 col-lg-8">
                                            {{ form.word|default_if_none:"" }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="form-group row">
                                        <label for="authority" class="col-lg-2 control-label">Authority<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.authority|default_if_none:"" }}
                                        </div>
                                        <label for="nickname" class="col-lg-2 col-sm-2 control-label">Nickname<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.nickname|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="real_name" class="col-lg-2 col-sm-2 control-label">Name<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.real_name|default_if_none:"" }}
                                        </div>
                                        <label for="user_code" class="col-lg-2 col-sm-2 control-label">ID<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.user_code|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="selling_auth" class="col-lg-2 col-sm-2 control-label">Selling Authority<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            <select name="selling_auth" id="selling_auth" class="form-control trs-field sended">
                                                {% if profile.is_seller %}
                                                    <option value="1" seleceted>Yes</option>
                                                    <option value="0">No</option>
                                                {% else %}
                                                    <option value="1">Yes</option>
                                                    <option value="0" seleceted>No</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <label for="user_code" class="col-lg-2 col-sm-2 control-label">General WS</label>
                                        <div class="col-lg-4">
                                            <select name="general_store" id="general_store" class="form-control trs-field sended">
                                                {% for store in store_list %}
                                                <option value="{{store.0}}" >{{store.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tel" class="col-lg-2 col-sm-2 control-label">Phone Number<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.tel|default_if_none:"" }}
                                        </div>
                                        <label for="password" class="col-lg-2 col-sm-2 control-label">Password<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.password|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="introducer" class="col-lg-2 col-sm-2 control-label">Introducer</label>
                                        <div class="col-lg-4">
                                            <select name="introducer" id="introducer" class="form-control trs-field sended">
                                                {% for pr in profile_list %}
                                                    {% if profile.introducer_id == pr.id %}
                                                        <option value="{{pr.id}}" selected>{{pr.nickname}}</option>
                                                    {% else %}
                                                        <option value="{{pr.id}}">{{pr.nickname}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label for="approval" class="col-lg-2 col-sm-2 control-label">Approval</label>
                                        <div class="col-lg-4">
                                            <select name="approval" id="approval" class="form-control trs-field sended">
                                                {% if profile.is_seller %}
                                                    <option value="1" seleceted>Yes</option>
                                                    <option value="0">No</option>
                                                {% else %}
                                                    <option value="1">Yes</option>
                                                    <option value="0" seleceted>No</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div id="corporate_block">
                                        <p><strong>Corporate Information</strong></p>
                                        <div class="form-group row">
                                            <label for="corporate_name" class="col-lg-2 col-sm-2 control-label">Corporate Name<span
                                                    class="span-required">(*)</span></label>
                                            <div class="col-lg-4">
                                                {{ form.corporate_name|default_if_none:"" }}
                                            </div>
                                            <label for="representative_name" class="col-lg-2 col-sm-2 control-label">Representative Name</label>
                                            <div class="col-lg-4">
                                                <input class="form-control trs-field" type="text"
                                                    name="representative_name"
                                                    id="representative_name" value={{profile.introducer.real_name}}>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="address1" class="col-lg-2 col-sm-2 control-label">Address One<span
                                                    class="span-required">(*)</span></label>
                                            <div class="col-lg-4">
                                                {{ form.address1|default_if_none:"" }}
                                            </div>
                                            <label for="address2" class="col-lg-2 col-sm-2 control-label">Address Two</label>
                                            <div class="col-lg-4">
                                                {{ form.address2|default_if_none:"" }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="phone_number" class="col-lg-2 col-sm-2 control-label">Phone Number</label>
                                            <div class="col-lg-4">
                                                <input class="form-control trs-field" type="text"
                                                    name="phone_number"
                                                    id="phone_number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group form-check text-left" style="margin-top: 30px;">
                                            <input type="checkbox" class="form-check-input checkbox-2x" id="active" checked>
                                            <label class="form-check-label" for="active">Active</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="text-center">
                                    <button type="submit" name="btnSave" id="btnSave" class="btn btn-primary blue-btn">Save</button>
                                    <a class="btn btn-default gray-btn" href="{% url 'profile_list' %}">Cancel</a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div id="item_tab" class="tab-pane" role="tabpanel">
                        <div class="col-sm-12">
                            <section class="panel">
                                
                            </section>
                        </div>
                    </div>
                    <div id="client_tab" class="tab-pane" role="tabpanel">
                        <div class="col-sm-12">
                            <section class="panel">
                                
                            </section>
                        </div>
                    </div>
                    <div id="account_info_tab" class="tab-pane" role="tabpanel">
                        <div class="col-sm-12">
                            <section class="panel">
                                
                            </section>
                        </div>
                    </div>
                    <div id="sales_info_tab" class="tab-pane" role="tabpanel">
                        <div class="col-sm-12">
                            <section class="panel">
                                
                            </section>
                        </div>
                    </div>
                    <div id="shipping_info_tab_li" class="tab-pane" role="tabpanel">
                        <div class="col-sm-12">
                            <section class="panel">
                                
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="delete-dialog"
         class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Delete Confirm Dialog</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{% url 'profile_delete' profile.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Are you sure want to delete?</label>
                        </div>
                        <button type="submit" class="btn btn-success">OK</button>
                        <a class="btn btn-default" href="{% url 'profile_edit' profile.id %}">Cancel</a> {# ITEM_TABS['Item'] #}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'assets/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
    <script src="{% static "js/select2/select2.js" %}"></script>
    <!--dynamic table initialization -->
    <script type="text/javascript">
        var tab_index = "";
        $(document).on('keyup', '.select2-selection.select2-selection--single', function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if(keycode == '9'){
                $(this).closest(".select2-container").siblings('select:enabled').select2('open');
            }
        });
        $(document).ready(function () {
            tab_index = "{{active_tab_index}}";
            if (tab_index == '3') {
                $('#items_location_a').trigger('click');
            }
            {% comment %} else if (tab_index == '2') {
                $('#supplier_tab_a').trigger('click');
            }
            else if (tab_index == '1') {
                $('#customer_tab_a').trigger('click');
            }
            else if (tab_index == '0') {
                $('#item_tab_a').trigger('click');
            } {% endcomment %}
            

        });
        

        $(document).ready(function () {
            
            $('#selling_auth').select2({});
            $('#approval').select2({});
            $('#introducer').select2({
                placeholder: "Select Introducer",
                allowClear: true
            });
            $('#general_store').select2({
                placeholder: "Select Store",
                allowClear: true
            });
            $('#id_authority').select2({
                placeholder: "Select Authority"
            });

        });


        

    </script>
{% endblock %}
