{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-fileupload/bootstrap-fileupload.css' %}"/>
{% endblock %}

{% block title %}Account Add{% endblock %}

{% block account_a_active %}
    active
{% endblock %}

{% block account_i_active %}
    active
{% endblock %}

{% block account_add_active %}
    active
{% endblock %}

{% block content %}
    <div id="content">
        <header class="panel-heading" style="font-size: 25px; margin-bottom: 20px;" >
                Account Details
        </header>
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist"
            style="padding-left: 20px; margin-left: 18px; margin-right: 24px;">
            <li class="nav-item" id="basic_tab_li">
                <a href="#basic_tab" class="nav-link active" id="basic_tab_a" data-toggle="tab" role="tab" aria-controls="basic_tab" aria-selected="true">基本情報</a>
            </li>
            <li class="nav-item" id="item_tab_li" style="display: none;">
                <a href="#item_tab" class="nav-link" id="item_tab_a" data-toggle="tab" role="tab" aria-controls="item_tab" aria-selected="false">出品一覧</a>
            </li>
            <li class="nav-item" id="client_tab_li" style="display: none;">
                <a href="#client_tab" class="nav-link" id="client_tab_a" data-toggle="tab" role="tab" aria-controls="client_tab" aria-selected="false">顧客</a>
            </li>
            <li class="nav-item" id="account_info_tab_li" style="display: none;">
                <a href="#account_info_tab" class="nav-link" id="account_info_a" data-toggle="tab" role="tab" aria-controls="account_info_tab" aria-selected="false">口座情報</a>
            </li>
            <li class="nav-item" id="sales_info_tab_li" style="display: none;">
                <a href="#sales_info_tab" class="nav-link" id="sales_info_a" data-toggle="tab" role="tab" aria-controls="sales_info_tab" aria-selected="false">サロン情報</a>
            </li>
            <li class="nav-item" id="shipping_info_tab_li" style="display: none;">
                <a href="#shipping_info_tab" class="nav-link" id="shipping_info_a" data-toggle="tab" role="tab" aria-controls="shipping_info_tab" aria-selected="false">送付先情報</a>
            </li>
        </ul>
        <div class="table-section white-bg">
            <div id="my-tab-content" class="tab-content">
                <div id="basic_tab" role="tabpanel"
                    class="tab-pane active">
                    <form class="form-horizontal" 
                        {% if profile.id %}
                        action="{% url 'profile_edit' profile.id %}" 
                        {% else %}
                        action="{% url 'profile_add' %}" 
                        {% endif %}
                        role="form" method="post" onsubmit="checkInput()" enctype="multipart/form-data">
                        {% csrf_token %}
                        <section class="panel">
                            <header class="panel-heading" style="font-size: 25px">
                                <strong>Profile</strong>
                            </header>
                            <div class="row">
                                <div class="col-lg-4" style="margin-top: 4%">
                                    <div class="form-group">
                                        {# Profile Image #}
                                        <label class="control-label col-lg-12 col-sm-12">Profile Image</label>
                                        <div class="col-md-8">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail" style="width: 300px; height: 300px;">
                                                    {% if profile.image_id %}
                                                        <img src="{{ profile.image.image.url }}" alt="" name="profile_image"/>
                                                    {% else %}
                                                        <img src="{% static 'img/blank_male.png' %}" alt="" name="profile_image"/>
                                                    {% endif %}
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                    style="max-width: 300px; max-height: 300px; line-height: 20px;"></div>
                                                <div class="text-right">
                                                    <span class="btn btn-white btn-file">
                                                        <span class="fileupload-new"><i class="fas fa-pencil-alt fa-2x"></i></span>
                                                        <span class="fileupload-exists"><i class="fas fa-undo fa-2x"></i></span>
                                                        <input name="profile_image" type="file" class="default"/>
                                                    </span>
                                                    <a href="javascript:void(0)" class="btn btn-danger fileupload-exists btnRemoveLogo"
                                                    data-dismiss="fileupload"><i class="fas fa-trash-alt fa-2x"></i> </a>
                                                    <input style="display: none;" name="rm_profile_image" class="hidethis">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-offset-2 col-lg-8">
                                            {{ form.word|default_if_none:"" }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="form-group row">
                                        <label for="authority" class="col-lg-2 control-label">Authority<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.authority|default_if_none:"" }}
                                        </div>
                                        <label id="type_label" for="type" class="col-lg-2 col-sm-2 control-label">Type</label>
                                        <div class="col-lg-4" id="type_div">
                                            {{ form.salon_category|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="nickname" class="col-lg-2 col-sm-2 control-label">Nickname<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.nickname|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="real_name" class="col-lg-2 col-sm-2 control-label">Name<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.real_name|default_if_none:"" }}
                                        </div>
                                        <label for="user_code" class="col-lg-2 col-sm-2 control-label">ID<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.user_code|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="selling_auth" class="col-lg-2 col-sm-2 control-label">Selling Authority<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            <select name="selling_auth" id="selling_auth" class="form-control trs-field sended">
                                                {% if profile.is_seller %}
                                                    <option value="1" seleceted>Yes</option>
                                                    <option value="0">No</option>
                                                {% else %}
                                                    <option value="1">Yes</option>
                                                    <option value="0" seleceted>No</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tel" class="col-lg-2 col-sm-2 control-label">Phone Number<span
                                                class="span-required">(*)</span></label>
                                        <div class="col-lg-4">
                                            {{ form.tel|default_if_none:"" }}
                                        </div>
                                        <label for="password" class="col-lg-2 col-sm-2 control-label">Password</label>
                                        <div class="col-lg-4">
                                            {{ form.password|default_if_none:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                        </div>
                                        <label for="password" class="col-lg-2 col-sm-2 control-label">Conf. Password</label>
                                        <div class="col-lg-4">
                                            <input class="form-control trs-field" type="password"
                                                name="conf_pass"
                                                id="conf_pass">
                                            <span id="pass-error" class="span-required">If the password is blank it will not ne changed</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="introducer_div" class="row">
                                            <label for="introducer" class="col-lg-2 col-sm-2 control-label">Introducer</label>
                                            <div class="col-lg-4">
                                                <select name="introducer" id="introducer" class="form-control trs-field sended">
                                                    {% for pr in profile_list %}
                                                        {% if profile.introducer_id == pr.id %}
                                                            <option value="{{pr.id}}" selected>{{pr.nickname}}</option>
                                                        {% else %}
                                                            <option value="{{pr.id}}">{{pr.nickname}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="approval_div" class="row">
                                            <label for="approval" class="col-lg-2 col-sm-2 control-label">Approval</label>
                                            <div class="col-lg-4">
                                                <select name="approval" id="approval" class="form-control trs-field sended">
                                                    {% if profile.is_approved %}
                                                        <option value="1" seleceted>Yes</option>
                                                        <option value="0">No</option>
                                                    {% else %}
                                                        <option value="1">Yes</option>
                                                        <option value="0" seleceted>No</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="general_ws_div" class="row">
                                            <label for="user_code" class="col-lg-2 col-sm-2 control-label">General WS</label>
                                            <div class="col-lg-4">
                                                <select name="general_store" id="general_store" class="form-control trs-field sended">
                                                    {% for pr in store_list %}
                                                        {% if profile.introducer_id == pr.id %}
                                                            <option value="{{pr.id}}" selected>{{pr.nickname}}</option>
                                                        {% else %}
                                                            <option value="{{pr.id}}">{{pr.nickname}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="corporate_block">
                                        <p><strong>Corporate Information</strong></p>
                                        <div class="form-group row">
                                            <label for="corporate_name" class="col-lg-2 col-sm-2 control-label">Corporate Name<span
                                                    class="span-required">(*)</span></label>
                                            <div class="col-lg-4">
                                                {{ form.corporate_name|default_if_none:"" }}
                                            </div>
                                            <label for="representative_name" class="col-lg-2 col-sm-2 control-label">Representative Name</label>
                                            <div class="col-lg-4">
                                                {{ form.representative_name|default_if_none:"" }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="address1" class="col-lg-2 col-sm-2 control-label">Address One<span
                                                    class="span-required">(*)</span></label>
                                            <div class="col-lg-4">
                                                {{ form.address1|default_if_none:"" }}
                                            </div>
                                            <label for="address2" class="col-lg-2 col-sm-2 control-label">Address Two</label>
                                            <div class="col-lg-4">
                                                {{ form.address2|default_if_none:"" }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="phone_number" class="col-lg-2 col-sm-2 control-label">Phone Number</label>
                                            <div class="col-lg-4">
                                                {{ form.corporate_tel|default_if_none:"" }}
                                            </div>
                                        </div>
                                        <div class="form-group form-check text-left" style="margin-top: 30px;">
                                            <input type="checkbox" class="form-check-input checkbox-2x" name="active_checkbox" id="active_checkbox" checked>
                                            <label class="form-check-label" for="active">Active</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="text-center">
                                    <button type="submit" name="btnSave" id="btnSave" class="btn btn-primary blue-btn">Save</button>
                                    <a class="btn btn-default gray-btn" href="{% url 'profile_list' %}">Cancel</a>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <div id="item_tab" class="tab-pane" role="tabpanel">
                    <header class="panel-heading" style="font-size: 25px">
                        <strong>Item Information</strong>
                    </header>
                    <div class="table-section white-bg">
                        <div class="adv-table table-responsive">
                            <table class="display table table-bordered table-striped table-condensed"
                                id="item-table" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Number of store account</th>
                                    <th>Number of general users</th>
                                    <th class="text-center" style="min-width:90px!important;">Options</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="client_tab" class="tab-pane" role="tabpanel">
                    <header class="panel-heading" style="font-size: 25px">
                        <strong>Client Information</strong>
                    </header>
                    <div class="form-group form-check text-center">
                        <input type="checkbox" class="form-check-input checkbox-2x" id="general_check">
                        <label class="form-check-label" for="general_check">General</label>
                        <input type="checkbox" class="form-check-input checkbox-2x" id="store_check">
                        <label class="form-check-label" for="store_check">Store</label>
                    </div>
                    <div class="form-group text-right">
                        <strong>Customers Number: </strong>
                    </div>
                    <div class="table-section white-bg">
                        <div class="adv-table table-responsive">
                            <table class="display table table-bordered table-striped table-condensed"
                                id="client-table" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Number of store account</th>
                                    <th>Number of general users</th>
                                    <th class="text-center" style="min-width:90px!important;">Options</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="account_info_tab" class="tab-pane" role="tabpanel">
                    {% include 'account_info_tab.html' %}
                </div>
                <div id="sales_info_tab" class="tab-pane" role="tabpanel">
                    <div class="col-sm-12">
                        <section class="panel">
                            
                        </section>
                    </div>
                </div>
                <div id="shipping_info_tab_li" class="tab-pane" role="tabpanel">
                    <div class="col-sm-12">
                        <section class="panel">
                            
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="delete-dialog"
         class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Delete Confirm Dialog</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{% url 'profile_delete' profile.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Are you sure want to delete?</label>
                        </div>
                        <button type="submit" class="btn btn-success">OK</button>
                        <a class="btn btn-default" href="{% url 'profile_edit' profile.id %}">Cancel</a> {# ITEM_TABS['Item'] #}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'assets/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
    <script src="https://zipaddr.github.io/bankautob.js" charset="UTF-8"> </script>
    <script src="{% static "js/select2/select2.js" %}"></script>
    <script src="{% static "js/profile/financial.js" %}"></script>
    
    <script type="text/javascript">
        $(document).on('keyup', '.select2-selection.select2-selection--single', function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if(keycode == '9'){
                $(this).closest(".select2-container").siblings('select:enabled').select2('open');
            }
        });
        
        var profile_id = "{{profile.id}}";

        $(document).ready(function () {
            if (profile_id == '' || profile_id == undefined || profile_id == null) {
                profile_id = '';
                $('#id_password').prop('required', true);
                $('#conf_pass').prop('required', true);
            } else {
                $('#id_authority').trigger('change');
                $('#id_authority').prop('disabled', true);
            }
            $('#selling_auth').select2({});
            $('#approval').select2({});
            $('#introducer').select2({
                placeholder: "Select Introducer",
                allowClear: true
            });
            $('#general_store').select2({
                placeholder: "Select Store",
                allowClear: true
            });
            $('#id_authority').select2({
                placeholder: "Select Authority"
            });
            $('#id_salon_category').select2({});

            $('#id_authority').trigger('change');

        });

        // Detect tab change event
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var target = $(e.target).attr("href");
            if ((target == '#item_tab')) {
                loadItemTableData();
            } else if ((target == '#client_tab')) {
                loadClientTableData();
            } else if ((target == '#account_info_tab')) {
                if (!$('#account_type').data('select2')) {
                    //$('#account_type').select2('destroy');
                    $('#account_type').select2({});
                }
                load_financial_info();
            }
        });

        function loadItemTableData() {
            $('#item-table').DataTable().destroy();
            $('#item-table').DataTable({
                "order": [[2, "asc"]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'ProfileList__asJson' %}",
                    "data": {
                        "filter_str": '[]'
                    }
                },
                "columns": [
                    {"data": "no", "orderable": false},
                    {"data": "type", "orderable": false},
                    {"data": "nickname", "orderable": false},
                    {"data": "store_total", "orderable": false},
                    {"data": "user_total", "orderable": false},
                    
                    {
                        "sClass": "text-center",
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            var btn =
                                    '<div class="btn-group">' +
                                    '<a class="btn-group-item" href="../profile_edit/' + row.id + '/' + '"><i class="fas fa-pencil-alt fa-2x text-info"></i></a>' + 
                                    '<a class="btn-group-item" onclick="deleteProfile(' + row.id + ')"><i class="fas fa-trash-alt fa-2x text-danger"></i></a>' + 
                                    '</div>';
                            return btn;
                        }
                    }
                ]
            });
        }

        function loadClientTableData() {
            $('#client-table').DataTable().destroy();
            $('#client-table').DataTable({
                "order": [[2, "asc"]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'ProfileList__asJson' %}",
                    "data": {
                        "filter_str": '[]'
                    }
                },
                "columns": [
                    {"data": "no", "orderable": false},
                    {"data": "type", "orderable": false},
                    {"data": "nickname", "orderable": false},
                    {"data": "store_total", "orderable": false},
                    {"data": "user_total", "orderable": false},
                    
                    {
                        "sClass": "text-center",
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            var btn =
                                    '<div class="btn-group">' +
                                    '<a class="btn-group-item" href="../profile_edit/' + row.id + '/' + '"><i class="fas fa-pencil-alt fa-2x text-info"></i></a>' + 
                                    '<a class="btn-group-item" onclick="deleteProfile(' + row.id + ')"><i class="fas fa-trash-alt fa-2x text-danger"></i></a>' + 
                                    '</div>';
                            return btn;
                        }
                    }
                ]
            });
        }

        function checkInput() {
            $('#id_authority').prop('disabled', false);
        }

        $('#conf_pass').on('change', function(){
            var pass = $('#id_password').val();
            var conf_pass = $(this).val();
            if (pass != conf_pass) {
                $('#pass-error').text("Password doesn't match");
                $('#btnSave').prop('dsabled', true);
            } else {
                $('#pass-error').text("");
                $('#btnSave').prop('dsabled', false);
            }
        })

        // view filter according to authority
        $('#id_authority').on('change', function(){
            if (profile_id) {
                if ($(this).val() == '1') { //master
                    $('#general_ws_div').css('display', 'none');
                    $('#introducer_div').css('display', 'none');
                    $('#approval_div').css('display', 'none');
                    $('#type_div').css('display', 'none');
                    $('#type_label').css('display', 'none');
                    $('#corporate_block').removeAttr('style');

                    $('#item_tab_li').removeAttr('style');
                }
                else if ($(this).val() == '2') { //special
                    $('#general_ws_div').css('display', 'none');
                    $('#introducer_div').css('display', 'none');
                    $('#approval_div').css('display', 'none');
                    $('#type_div').css('display', 'none');
                    $('#type_label').css('display', 'none');
                    $('#corporate_block').removeAttr('style');
                    
                    $('#item_tab_li').removeAttr('style');
                    $('#account_info_tab_li').removeAttr('style');
                }
                else if ($(this).val() == '3') { //ambassador
                    $('#general_ws_div').removeAttr('style');
                    //$('#introducer_div').removeAttr('style');
                    $('#approval_div').css('display', 'none');
                    $('#type_div').css('display', 'none');
                    $('#type_label').css('display', 'none');
                    $('#corporate_block').removeAttr('style');

                    $('#item_tab_li').removeAttr('style');
                    $('#client_tab_li').removeAttr('style');
                    $('#account_info_tab_li').removeAttr('style');
                }
                else if ($(this).val() == '4') { //store
                    $('#general_ws_div').css('display', 'none');
                    $('#type_div').removeAttr('style');
                    $('#type_label').removeAttr('style');
                    $('#introducer_div').removeAttr('style');
                    $('#approval_div').removeAttr('style');
                    $('#corporate_block').removeAttr('style');

                    $('#item_tab_li').removeAttr('style');
                    $('#client_tab_li').removeAttr('style');
                    $('#account_info_tab_li').removeAttr('style');
                    $('#sales_info_tab_li').removeAttr('style');
                    $('#shipping_info_tab_li').removeAttr('style');
                }
                else if ($(this).val() == '5') { //general
                    $('#general_ws_div').css('display', 'none');
                    $('#type_div').css('display', 'none');
                    $('#type_label').css('display', 'none');
                    $('#introducer_div').removeAttr('style');
                    $('#approval_div').css('display', 'none');
                    $('#corporate_block').css('display', 'none');

                    $('#item_tab_li').removeAttr('style');
                    $('#client_tab_li').removeAttr('style');
                    $('#account_info_tab_li').removeAttr('style');
                    $('#shipping_info_tab_li').removeAttr('style');
                }
            }
        })


        

    </script>
{% endblock %}
