{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    {% load i18n %}
{% endblock %}

{% block title %}{% trans 'Sales List' %}{% endblock %}

{% block sales_a_active %}
    active
{% endblock %}

{% block sales_i_active %}
    active
{% endblock %}

{% block sales_list_active %}
    active
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <header class="panel-heading" style="font-size: 25px">
                                    {% trans 'Sales List' %}
                            </header>
                            <div class="row">
                                <div class="col-lg-4 col-sm-12 row">
                                    <a style="border-color: transparent;" class="btn btn-white col-lg-2 col-sm-4 pt-5" onclick="changeDate('Prev')"><i class="fas fa-chevron-circle-left fa-2x"></i></a>
                                    <p id="sale_changable_date" class="changable_date pt-5"></p>
                                    <a style="border-color: transparent;" class="btn btn-white col-lg-2 col-sm-4 pt-5" onclick="changeDate('Next')"><i class="fas fa-chevron-circle-right fa-2x"></i></a>
                                </div>
                                <div class="col-lg-8 col-sm-12 row" id="sales_summary">
                                    <div class="col-lg-6 col-sm-12">
                                        <p>{% trans 'Total sales:' %} <span id="total-span"></span></p>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <p>{% trans 'Selling sales:' %} <span id="sales-span"></p>
                                        <p>{% trans 'Commission:' %} <span id="commission-span"></p>
                                    </div>
                                </div>
                            </div>
                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist"
                                style="padding-left: 20px; margin-left: 18px; margin-right: 24px;">
                                <li class="nav-item" id="basic_tab_li">
                                    <a href="#sales_tab" class="nav-link active" id="sales_tab_a" data-toggle="tab" role="tab" aria-controls="sales_tab" aria-selected="true">{% trans 'Product Sales' %}</a>
                                </li>
                                <li class="nav-item" id="item_tab_li">
                                    <a href="#commission_tab" class="nav-link" id="commission_tab_a" data-toggle="tab" role="tab" aria-controls="commission_tab" aria-selected="false">{% trans 'Commission' %}</a>
                                </li>
                            </ul>
                            <div class="table-section white-bg">
                                <div id="my-tab-content" class="tab-content">
                                    <div id="sales_tab" role="tabpanel"
                                        class="tab-pane active">
                                        {% include 'sales_info_tab.html' %}
                                    </div>
                                    <div id="commission_tab" class="tab-pane" role="tabpanel">
                                        {% include 'commission_info_tab.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script>
    <script src="{% static "js/profile/sales.js" %}"></script>
    <script src="{% static "js/profile/commission.js" %}"></script>
    <script type="text/javascript">

    var selected_year;
    var selected_month;

    var target_tab = '#sales_tab';

    $(document).ready(function () {
        moment.locale('ja');
        $('#sale_changable_date').html(moment().format('YYYY年MMM'));
        selected_year = moment().format('YYYY');
        selected_month = moment().format('MM');

        loadSalesData();
    })

    function changeDate(to) {
        if (to == 'Next') {
            var date = $('#sale_changable_date').text();
            var momnt = moment(date, "YYYY年MMM").add(1, 'months').format("YYYY年MMM");
            $('#sale_changable_date').html(momnt);
            selected_year = moment(date, "YYYY年MMM").add(1, 'months').format("YYYY");
            selected_month = moment(date, "YYYY年MMM").add(1, 'months').format("MM");
        } else {
            var date = $('#sale_changable_date').text();
            var momnt = moment(date, "YYYY年MMM").subtract(1, 'months').format("YYYY年MMM");
            $('#sale_changable_date').html(momnt);
            selected_year = moment(date, "YYYY年MMM").subtract(1, 'months').format("YYYY");
            selected_month = moment(date, "YYYY年MMM").subtract(1, 'months').format("MM");
        }

        if ((target_tab == '#sales_tab')) {
            loadSalesData();
        } else if ((target_tab == '#commission_tab')) {
            loadCommissionData();
        }
    }

    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        target_tab = $(e.target).attr("href");
        if ((target_tab == '#sales_tab')) {
            loadSalesData();
        } else if ((target_tab == '#commission_tab')) {
            loadCommissionData();
        }
    });

    function loadSalesData() {
        $('#sales-table').DataTable().destroy();
        $('#sales-table').DataTable({
            "order": [[2, "asc"]],
            "pageLength": 100,
            "serverSide": true,
            "scrollX": true,
            stateSave: true,
            "searching": false,
            "ajax": {
                "url": "{% url 'UserSalesList__asJson' %}",
                "data": {
                    "year": selected_year,
                    "month": selected_month
                }
            },
            "columns": [
                {"data": "date", "orderable": false},
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        var img ='<img src="' + row.image_path + '" width="50px" height="50px">';
                        return img;
                    }
                },
                {"data": "name", "orderable": false},
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return comma_format(row.amount, 0) + JPCUR;
                    }
                },
            ]
        });

        getTotalSales();
    }

    function getTotalSales() {
        $.ajax({
            type: "GET",
            url: "/profiles/get_data/" + selected_year + "/" + selected_month + "/",
            success: function (json) {
                let data = json.data;
                $('#total-span').html(comma_format(data.total, 0) + JPCUR);
                $('#sales-span').html(comma_format(data.sales, 0) + JPCUR);
                $('#commission-span').html(comma_format(data.commission, 0) + JPCUR);

            }
        });
    }

    function loadCommissionData() {
        $('#commssion-table').DataTable().destroy();
        $('#commssion-table').DataTable({
            "order": [[2, "asc"]],
            "pageLength": 100,
            "serverSide": true,
            "scrollX": true,
            stateSave: true,
            "searching": false,
            "ajax": {
                "url": "{% url 'UserCommissionList__asJson' %}",
                "data": {
                    "year": selected_year,
                    "month": selected_month
                }
            },
            "columns": [
                {"data": "date", "orderable": false},
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        var img ='<img src="' + row.image_path + '" width="50px" height="50px">';
                        return img;
                    }
                },
                {"data": "name", "orderable": false},
                {"data": "seller", "orderable": false},
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return comma_format(row.selling_price, 0) + JPCUR;
                    }
                },
                {
                    "sClass": "text-center",
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return comma_format(row.amount, 0) + JPCUR;
                    }
                },
            ]
        });

        getTotalSales();
    }

    $(document).click(function (event) {
        //hide al‘l our dropdowns
        $('.dropdown-menu[data-parent]').hide();
    });
    </script>
{% endblock %}
