{% block extrahead %}
    {% load i18n %}
{% endblock %}
<header class="panel-heading" style="font-size: 25px">
    <strong>{% trans 'Salon Information' %}</strong>
</header>
<div class="table-section white-bg">
    <div class="text-right pb-3">
        <span class="">
            <a type="button" class="btn btn-primary blue-btn" onclick="showSalonForm()"> 
                <span>{% trans 'Add' %}</span>
            </a>
        </span>
    </div>
    <div class="adv-table table-responsive">
        <table class="display table table-bordered table-striped table-condensed"
            id="salon-table" style="width:100%">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Salon Name' %}</th>
                <th>{% trans "Representative's Name" %}</th>
                <th>{% trans 'Address' %}</th>
                <th>{% trans 'Phone Number' %}</th>
                <th class="text-center" style="min-width:90px!important;">{% trans 'Options' %}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>