{% block extrahead %}
    {% load i18n %}
{% endblock %}
<header class="panel-heading" style="font-size: 25px">
    <strong>Shipping Information</strong>
</header>
<div class="table-section white-bg">
    <div class="text-right pb-3">
        <span class="">
            <a type="button" class="btn btn-primary blue-btn" onclick="showShippingForm()"> 
                <span>Add</span>
            </a>
        </span>
    </div>
    <div class="adv-table table-responsive">
        <table class="display table table-bordered table-striped table-condensed"
            id="shipping-table" style="width:100%">
            <thead>
            <tr>
                <th>#</th>
                <th>Salon Name</th>
                <th>Representative's Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th class="text-center" style="min-width:90px!important;">Options</th>
            </tr>
            </thead>
        </table>
    </div>
</div>