{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    {% load i18n %}
    <style>
        .summary-block {
            width: 90%;
            border: 1px solid black;
            margin-left: 5%;
        }
        .summary-block-2 {
            width: 90%;
            border: 1px solid blue;
            margin-left: 5%;
            margin-top: 20px;
        }
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #fff;
        }
        .semi-block {
            padding-left: 1px !important;
            padding-right: 1px !important;
        }
        .last-table td {
            border: 1px solid #fff;
            color: black;
        }
        .last-table {
            margin-left: 5%;
            margin-right: 5%;
        }
        .abs{
            border-top: 1px solid black;
        }
    </style>
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block dashboard_a_active %}
    active
{% endblock %}

{% block dashboard_i_active %}
    active
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <header class="panel-heading" style="font-size: 25px">
                                    {% trans 'Dashboard' %}
                            </header>
                            
                            <div class="table-section white-bg mt-2">
                                <p id="changable_date" class="changable_date"></p>
                                {# 1st row #}
                                <div class="summary-block row">
                                    <div class="col-lg-4 col-md-4 semi-block">
                                        <table style="width:100%;" class="text-center">
                                            <tr style="background-color: orange; color: black;">
                                                <td colspan="2">
                                                    <p style="font-size: 18px;">
                                                        {% trans 'Total Number of Sales' %}
                                                    </p>
                                                    <p id='orders' style="font-size: 30px;"></p>
                                                </td>
                                            </tr>
                                            <tr style="background-color: #ffeecc;">
                                                <td class="p-1">{% trans 'KINUJO Products' %}</td>
                                                <td class="p-1">{% trans 'Other Products' %}</td>
                                            </tr>
                                            <tr style="font-size: 20px; background-color: #ffeecc;">
                                                <td class="p-2" id='kinujo_orders'></td>
                                                <td class="p-2" id='non_kinujo_orders'></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-4 col-md-4 semi-block">
                                        <table style="width:100%;" class="text-center">
                                            <tr style="background-color: blue; color: white;">
                                                <td colspan="2">
                                                    <p style="font-size: 18px;">
                                                        {% trans 'Total Sales' %}
                                                    </p>
                                                    <p id='orders_amount' style="font-size: 30px;"></p>
                                                </td>
                                            </tr>
                                            <tr style="background-color: #f2e6ff;">
                                                <td class="p-1">{% trans 'KINUJO Products' %}</td>
                                                <td class="p-1">{% trans 'Other Products' %}</td>
                                            </tr>
                                            <tr class="p-2" style="font-size: 20px; background-color: #f2e6ff;">
                                                <td class="p-2" id='kinujo_orders_amount'></td>
                                                <td class="p-2" id='non_kinujo_orders_amount'></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-4 col-md-4 semi-block">
                                        <table style="width:90%;" class="text-left last-table">
                                            <tr>
                                                <td class="pt-1">{% trans '[Store Account Fee]' %}</td>
                                            </tr>
                                            <tr>
                                                <td id='store_info' class="pb-2"></td>
                                            </tr>
                                            <tr>
                                                <td class="pt-1">{% trans '[Ambassador Account Fee]' %}</td>
                                            </tr>
                                            <tr>
                                                <td id='ambassador_info' class="pb-2"></td>
                                            </tr>
                                            <tr>
                                                <td class="pt-1">{% trans '[Special Account Fee]' %}</td>
                                            </tr>
                                            <tr>
                                                <td id='special_info' class="pb-2"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 col-md-12 abs">
                                        <div class="p-5 text-center">
                                            <p style="font-size: 50px"> グラフ </p>
                                        </div>
                                    </div>
                                </div>
                                {# 2nd row #}
                                <div class="summary-block-2 row">
                                    <div class="col-lg-5 col-md-5 pl-3">
                                        <h4> {% trans 'Popular Products' %} </h4>
                                        <div class="adv-table table-responsive">
                                            <table class="display table table-bordered table-striped table-condensed"
                                                id="popular-table" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>{% trans 'Product Name' %}</th>
                                                    <th>{% trans 'Gross Amount' %}</th>
                                                    <th>{% trans 'Total Quantity' %}</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-lg-4" style="margin-left: -15px;">
                                            <select name="ranking_filter" id="ranking_filter" class="form-control trs-field">
                                                <option value="0" selected>{% trans 'last 7 days' %}</option>
                                                <option value="1">{% trans 'last 1 month' %}</option>
                                                <option value="2">{% trans 'last 1 year' %}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 semi-block">
                                        
                                    </div>
                                    <div class="col-lg-5 col-md-5 semi-block">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'assets/datatables/datatables.min.js' %}"></script>
    <script src="{% static "js/select2/select2.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ranking_filter').select2({});
            changeLang();
            moment.locale('ja');
            $('#changable_date').html(moment().format('YYYY年MMM'));
            selected_year = moment().format('YYYY');
            selected_month = moment().format('MM');

            // get commission data
            loadDashboardData(selected_year, selected_month);

            // get popular products data
            loadPopularData('0');
        })

        $('#ranking_filter').on('change', function() {
            let filter_type = $(this).val();
            loadPopularData(filter_type);
        })

        function loadDashboardData(selected_year, selected_month) {
            $.ajax({
                method: "GET",
                url: "/profiles/get_dashboard_data/" + selected_year + "/" + selected_month + "/",
                success: function (json) {
                    let data = json.data;

                    $('#orders').html(comma_format(data.orders, 0) + JPCASE);
                    $('#kinujo_orders').html(comma_format(data.kinujo_orders, 0) + JPCASE);
                    $('#non_kinujo_orders').html(comma_format(data.non_kinujo_orders, 0) + JPCASE);

                    $('#orders_amount').html(comma_format(data.orders_amount, 0) + JPCUR);
                    //$('#kinujo_orders_amount').html('約' + comma_format(data.kinujo_orders_amount, 0) + '万' + JPCUR);
                    //$('#non_kinujo_orders_amount').html('約' + comma_format(data.non_kinujo_orders_amount, 0) + '万' + JPCUR);
                    $('#kinujo_orders_amount').html(comma_format(data.kinujo_orders_amount, 0) + JPCUR);
                    $('#non_kinujo_orders_amount').html(comma_format(data.non_kinujo_orders_amount, 0) + JPCUR);

                    $('#store_info').html(comma_format(data.stores_amount, 0) + JPCUR + '/' + comma_format(data.stores, 0) + JPCASE)
                    $('#ambassador_info').html(comma_format(data.ambassadors_amount, 0) + JPCUR + '/' + comma_format(data.ambassadors, 0) + JPCASE)
                    $('#special_info').html(comma_format(data.specials_amount, 0) + JPCUR + '/' + comma_format(data.specials, 0) + JPCASE)
                    //$('#store_info').html(comma_format(data.stores_amount, 0) + '百万' + JPCUR + '/' + comma_format(data.stores, 0) + JPCASE)
                    //$('#ambassador_info').html(comma_format(data.ambassadors_amount, 0) + '百万' + JPCUR + '/' + comma_format(data.ambassadors, 0) + JPCASE)
                    //$('#special_info').html(comma_format(data.specials_amount, 0) + '百万' + JPCUR + '/' + comma_format(data.specials, 0) + JPCASE)

                },
                error: function (e) {
                    $.confirm({
                        title: get_translate('Error'),
                        content: e.message,
                        buttons: {
                            Ok: {
                                btnClass: 'btn-success',
                                action: function(){}
                                }
                            }
                    });
                }
            });
        }

        function loadPopularData(filter_type) {
            $('#popular-table').DataTable().destroy();
            $('#popular-table').DataTable({
                //"order": [[0, "asc"]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "paging":   false,
                "ordering": false,
                "info":  false,
                "searching":  false,
                "ajax": {
                    "url": "{% url 'PopularProductList__asJson' %}",
                    "data": {
                        "filter_type": filter_type,
                    }
                },
                "columns": [
                    {"data": "product_name", "orderable": false},
                    {"data": "gross_amount", "orderable": false},
                    {"data": "total_quantity", "orderable": false},
                ]
            });
        }
    </script>
{% endblock %}
