<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta
        charset="utf-8"
        name="viewport"
        content="width=device-width, initial-scale=1.0"
      />
      <meta name="description" content="" />
      {% load static %}
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap.min.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap-grid.min.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap-reboot.min.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap-datetimepicker.min.css' %}"
      />
      
      <!--external css-->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'assets/jquery-ui/jquery-ui.min.css' %}"
      />
      <!-- Custom styles for this template -->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/style.css' %}?{% now 'H' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/style-responsive.css' %}"
      />

     
      <script src="{% static 'js/jquery.js' %}"></script>
     
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
       <!-- 
      <script src="{% static 'js/moment.js' %}"></script>
      <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script> -->
      
      
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
      <![endif]-->
      <title>Item Registration</title>

      <style>
        .images{
          padding-bottom: 30px;
        }
        .img-container {
          position: relative;
          width: 50%;
        }

        .overlay {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }

        .overlay {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }

        .img-container:hover .image {
          opacity: 0.3;
        }

        .img-container:hover .overlay {
          opacity: 1;
        }

        .rmv-img-btn {
          background-color: rgba(255, 255, 255, .7);
          color: #444;
          font-size: 16px;
          padding: 6px;
          cursor: pointer;
        }
        .img-h {
          height: 70%;
          align-content: center;
        }
      </style>

  </head>
  <body>
    <div class="container">
      <h3 class="m-4">Create Product</h3>
      <form action="/api/products" class="bg-light m-2 p-5">
        <div class="row">

          <!--Starts left side inputs-->
          <div class="col-md-7">

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Official Product Name:</label>
              <input name="name" type="text" class="form-control col-md-8" id="name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Brand or manufacturer name:</label>
              <input name="brand_name" type="text" class="form-control col-md-8" id="brand-name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Product ID(URL):</label>
              <input name="url_str" type="text" class="form-control col-md-8" id="url-str">
            </div>
            
            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Product Category:</label>
              <select name="category" class="form-control col-md-8 custom-select" id="category">
                <option disabled selected>Select</option>
                <option value="">Category 1</option>
                <option value="">Category 2</option>
              </select>
            </div>

      

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="variety">Variations:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="one" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="one">1 Item</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="two" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="two">2 Items</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="none" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="none">None</label>
              </div>
            </div>

            <div id="variety-content" class="form-group row">

            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">JAN code:</label>
              <input type="text" class="form-control col-md-8" id="name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Stock Quantity:</label>
              <input type="text" class="form-control col-md-3" id="name">
            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="status">Status:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="published" name="status" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="published">Published</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="non-published" name="status" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="non-published">Non Published</label>
              </div>
             
            </div>

            
            <div class="form-group row">
              <label class="col-md-4 p-2" for="opened_date">Published Date:</label>

              <div class="col-md-6 input-group" id="datetimepicker" style="padding-left: 0px;">
                <input name="opened_date" type="date" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="far">&#xf073;</i>
                  </span>
                </div>
                
                  
                  
              </div>
              <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">* Before the release date, it will not be published <br/> even if it is set to “Publish”.</p >
            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="is-used">Product COndition:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="new" name="is_used" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="new">New</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-4">
                <input type="radio" id="second-hand" name="is_used" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="second-hand">Second Hand Goods</label>
              </div>

            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="target">For Sale:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="all-users" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="all-users">All Users</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="general-only" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="general-only">General Only</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="story-only" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="story-only">Store Only</label>
              </div>
              <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">* Displayed only to target users</p>
            </div>
            
            
          </div>
          <!--Ends left side inputs-->

          <!--Starts right side inputs-->
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="price">General Price:</label>
              <input name="price" type="text" class="form-control col-md-6" id="price">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="store_price">Store Price:</label>
              <input name="store_price" type="text" class="form-control col-md-6" id="store_price">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="shipping_fee">Shipping:</label>
              <input name="shipping_fee" type="text" class="form-control col-md-6" id="shipping_fee">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="price">PR Statement:</label>
              <input name="pr" type="text" class="form-control col-md-6" id="pr">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="description">Product Description:</label>
              <textarea name="description" class="form-control col-md-6" id="description" rows="6"></textarea>
              
            </div>

            <!--Image upload-->

            
            
            <div id="img-wrapper" class="row" style=" margin: 150px 0 0 0;">
              <div class="col-md-4">
                <div class="row img-h">
                  <label for="file" id="add-img-btn-0" class="btn btn-secondary text-center col-md-12" style="margin-left: 70px; margin-right: 70px;"  onclick="document.getElementById('file').click()">
                    Add a image 
                    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)"  style="display: none">
                  </label>
                  <div class="col-md-12 img-container" id="images-0">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Ends left side inputs-->
          
          <div class="col-md-6">
            <input type="submit" class="btn btn-default col-md-2 bg-primary m-5 text-white" value="Save">
            <p class="btn btn-default bg-secondary m-2 text-white">Cancell</p>
          </div>
         
      </form> 
    </div>


    <!-- starts --Modal for variant -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Choices:</label>
                <input type="text" class="form-control" id="message-text">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!--Ends moal for variant-->




<script>
  
  //starts adding more image button
  let counter = 0;
  const imgWrapper = document.getElementById('img-wrapper');

  const loadFile = function(event) {
     
    const addImgBtn = document.getElementById(`add-img-btn-${counter}`);
    const image = document.getElementById(`images-${counter}`);

    if(imgWrapper.childElementCount < 6){ 
      image.innerHTML = `<img class="images" src="${URL.createObjectURL(event.target.files[0])}" width="100" /> 
                  <div class="overlay">
                    <div onClick="this.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode.parentNode)" class="rmv-img-btn">Remove</div>
                  </div>
      `;
      addImgBtn.style.display = 'none';
      
      //increase counter for next
      counter ++;
      
      imgWrapper.innerHTML += `<div class="col-md-4"><div class="row img-h"><label for="file" id="add-img-btn-${counter}" class="btn btn-secondary text-center col-md-12" onclick="document.getElementById('file-${counter}').click()">
                  Add a image 
                  <input type="file"  accept="image/*" name="image" id="file-${counter}"  onchange="loadFile(event)" style="display: none">
                </label>
                <div class="col-md-12 img-container" id="images-${counter}"> </div> </div></div>` 
    } else{
      document.getElementById(`file-${counter}`).value='';
      console.log(document.getElementById(`file-${counter}`).value);
    }

    
  };


  
  


  

    //ends image add button increase code


    //starts variant code
    const one = document.getElementById('one');
    const two = document.getElementById('two');
    const none = document.getElementById('none');

    const varietyContent = document.getElementById('variety-content');

    one.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = `<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Add 1 variant">+ Item / Option</button>`;
    })

    two.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = `<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Add 2 variants">+ Items / Options</button>`;
    })

    none.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = ``;
    })


    //modal for variant
    $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(recipient)
  modal.find('.modal-body input').val(recipient)
})
    //ends variant code
  

</script>

  </body>
</html>
