<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta
        charset="utf-8"
        name="viewport"
        content="width=device-width, initial-scale=1.0"
      />
      <meta name="description" content="" />
      {% load static %}
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap.min.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap-grid.min.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap-reboot.min.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap-datetimepicker.min.css' %}"
      />
      
      <!--external css-->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'assets/jquery-ui/jquery-ui.min.css' %}"
      />
      <!-- Custom styles for this template -->
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/style.css' %}?{% now 'H' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/style-responsive.css' %}"
      />

     
      <script src="{% static 'js/jquery.js' %}"></script>
     
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
       <!-- 
      <script src="{% static 'js/moment.js' %}"></script>
      <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script> -->
      
      
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
      <![endif]-->
      <title>Item Registration</title>

      <style>
        .images{
          padding-bottom: 30px;
          object-fit: cover;
          height: 120px;
          width: 120px;
        }
        .img-container {
          position: relative;
          width: 50%;
        }

        .overlay {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }

        .overlay {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          height: 100%;
        }

        .img-container:hover .image {
          opacity: 0.3;
        }

        .img-container:hover .overlay {
          opacity: 1;
        }

        .rmv-img-btn {
          background-color: rgba(255, 255, 255, .7);
          font-size: 16px;
          padding: 6px;
          cursor: pointer;
          height: 100%;
        }
        .img-h {
          
          margin-right: -19px;
        }
        .img-input{
          font-size: 2rem;
          padding: 20px 0;
          color: #999;
          background-color: #e0e2e3;
          border-color: #babfc4;
          width: 120px;
          height: 90px;
          margin-left: 15px;
          position: absolute;
        }
        .img-input:hover{
          background-color: #007bff ;
          color: #fff;
          border: 1px solid steelblue;
        }

        #oneItemVariant input, #oneItemVariant label, #twoItemsVariant input, #twoItemsVariant label{
          margin: 5px 5px;
         
        }
        .form-inline label {
          justify-content: left;
        }
        .cross-btn {
          width: 100%;
          text-align: right;
          color: #dd0f0f;
          font-size: 2rem;
          padding: 12px;
        }
        
        #addToOneItemVariant, #addToFirstOfTwoItemVariant, #addToLastOfTwoItemVariant{
          margin-top: -54px;
          border-radius: 50%;
          padding: 0px 7px;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 26px;
        }
        /* two item variation*/
        #firstOfTwoItem, #lastOfTwoItem {
          border: 2px solid #ccc;
          padding: 15px;
          margin: 10px auto;
        }
      </style>

  </head>
  <body>
    <div class="container">
      <h3 class="m-4">Create Product</h3>
      <form action="/api/products" class="bg-light m-2 p-5">
        <div class="row">

          <!--Starts left side inputs-->
          <div class="col-md-7">

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Official Product Name:</label>
              <input name="name" type="text" class="form-control col-md-8" id="name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Brand or manufacturer name:</label>
              <input name="brand_name" type="text" class="form-control col-md-8" id="brand-name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Product ID(URL):</label>
              <input name="url_str" type="text" class="form-control col-md-8" id="url-str">
            </div>
            
            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Product Category:</label>
              <select name="category" class="form-control col-md-8 custom-select" id="category">
                <option disabled selected>Select</option>
                <option value="">Category 1</option>
                <option value="">Category 2</option>
              </select>
            </div>

      

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="variety">Variations:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="one" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="one">1 Item</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="two" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="two">2 Items</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="none" name="variety" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="none">None</label>
              </div>
            </div>

            <div id="variety-content" class="form-group row">

            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">JAN code:</label>
              <input type="text" class="form-control col-md-8" id="name">
            </div>

            <div class="form-group row">
              <label class="col-md-4 p-2" for="name">Stock Quantity:</label>
              <input type="text" class="form-control col-md-3" id="name">
            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="status">Status:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="published" name="status" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="published">Published</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="non-published" name="status" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="non-published">Non Published</label>
              </div>
             
            </div>

            
            <div class="form-group row">
              <label class="col-md-4 m-2" for="opened_date">Published Date:</label>

              <div class="col-md-6 input-group" id="datetimepicker" style="padding-left: 0px;">
                <input name="opened_date" type="date" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="far">&#xf073;</i> 
                  </span>
                </div>
                
                  
                  
              </div>
              <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">* Before the release date, it will not be published <br/> even if it is set to “Publish”.</p >
            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="is-used">Product COndition:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="new" name="is_used" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="new">New</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-4">
                <input type="radio" id="second-hand" name="is_used" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="second-hand">Second Hand Goods</label>
              </div>

            </div>

            <div class="form-group row form-check form-check-inline">
              <label class="col-md-4" for="target">For Sale:</label>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="all-users" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="all-users">All Users</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="general-only" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="general-only">General Only</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-md-2">
                <input type="radio" id="story-only" name="target" class="custom-control-input form-check-input">
                <label class="form-check-label custom-control-label" for="story-only">Store Only</label>
              </div>
              <p class="text-danger col-md-12" style="text-align: right; padding: 15px 20px 0">* Displayed only to target users</p>
            </div>
            
            
          </div>
          <!--Ends left side inputs-->

          <!--Starts right side inputs-->
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="price">General Price:</label>
              <input name="price" type="text" class="form-control col-md-6" id="price">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="store_price">Store Price:</label>
              <input name="store_price" type="text" class="form-control col-md-6" id="store_price">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="shipping_fee">Shipping:</label>
              <input name="shipping_fee" type="text" class="form-control col-md-6" id="shipping_fee">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="price">PR Statement:</label>
              <input name="pr" type="text" class="form-control col-md-6" id="pr">
              
            </div>

            <div class="form-group row">
              <label class="col-md-6 text-center p-2" for="description">Product Description:</label>
              <textarea name="description" class="form-control col-md-6" id="description" rows="6"></textarea>
              
            </div>

            <!--Image upload-->

            
            
            <div id="img-wrapper" class="row" style=" margin: 150px 0 0 0;">
              <div class="col-md-4">
                <div class="row img-h">
                  <label for="file" id="add-img-btn-0" class="btn btn-secondary text-center col-md-12 img-input" style="margin-left: 70px; margin-right: 70px;">
                    + 
                  <input type="file"  accept="image/*" name="image" id="file" onchange="loadFile(event)"  style="display: none">
                  </label>
                  <div class="col-md-12 img-container" id="images-0">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--MAx 5 error message-->
          <button id="max-img-btn" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Error Max Images</button>
          <!-- Max image Error message modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-left: auto !important">
              <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                  
                  <p class="modal-title text-danger text-center" style="width: 100%;">Warning</p>
                  <button type="button" class="close cross-btn" data-dismiss="modal" style="padding: 12px;">&times;</button>
                </div>
                <div class="modal-body">
                  <p class="text-center">Maximum of 5 images are allowed only.</p>
                </div>
                <div class="modal-footer" style="border-top: 0px;">
                  <button type="button" class="btn btn-default body1 btn-outline-secondary" data-dismiss="modal" style="margin: 0 auto;font-size: 1rem; border-radius: 15px; border: 2px solid #acacac;">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <!--Ends left side inputs-->
          
          <div class="col-md-6">
            <input type="submit" class="btn btn-default col-md-2 bg-primary m-5 text-white" value="Save">
            <p class="btn btn-default bg-secondary m-2 text-white">Cancell</p>
          </div>
         
      </form> 
    </div>


    <!-- starts --Modal for 1 item variant -->
    <div class="modal fade" id="oneItemVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom: 0px;">
            <h6 class="modal-title font-weight-bold" id="exampleModalLabel">Variation item registration</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label for="one-item-title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="one-item-title" placeholder="Color, Size, etc">
              </div>
              <div class="form-group">
                <p style="width: 20px;" class="m-2"> </p>
                <p style="width: 20px;" class="m-2"> </p>
                <label for="message-text" class="col-form-label" style="width: 160px;">Choices:</label>
                <label for="message-text" class="col-form-label" style="width: 100px;">JAN Code:</label>
                <label for="message-text" class="col-form-label" style="width: 50px;">Stock:</label>
                <p class="m-2" style="width: 50px;"> </p>
              </div>
              
              <div id="oneItemGroup">
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 one-variant-counter" style="width: 20px;">1</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 160px;">
                  
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="number" class="form-control" id="message-text" placeholder="" style="width: 70px;">
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptions();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                </div>
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 one-variant-counter" style="width: 20px;">2</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 160px;">
                  
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="number" class="form-control" id="message-text" placeholder="" style="width: 70px;">
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptions();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                </div>
              </div>

              <div style="width: 100%;" class="text-left"><p id="addToOneItemVariant" class="btn btn-secondary">+</p></div>
            </form>
          </div>
          <div class="modal-footer" style="border-top: 0px;">
            <div>
              <p>
                * If you delete the option, the registered JAN code and inventory
information will also be deleted
              </p>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display: none;">Close</button>
            <button type="button" id="one-item-save-btn" class="btn btn-primary" style="margin: 10px auto; padding: 5px 40px;" onclick="saveOneItemData();">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- starts --Modal for 2 items variant -->
    <div class="modal fade" id="twoItemsVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Variant Items Registration</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div id="firstOfTwoItem">
                <div class="form-group">
                  <label for="first-of-two-items-title" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="first-of-two-items-title" placeholder="Color, Size, etc">
                </div>
                
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p style="width: 20px;" class="m-2"> </p>
                  <label for="message-text" class="col-form-label" style="width: 160px;">Choices:</label>
                  
                  
                </div>
                
                <div id="firstOfTwoItemGroup">
                  <div class="form-group">
                  
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 first-of-two-variant-counter" style="width: 20px;">1</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsFirstOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                  <div class="form-group">
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 first-of-two-variant-counter" style="width: 20px;">2</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsFirstOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                </div>

                <div style="width: 100%;" class="text-left"><p id="addToFirstOfTwoItemVariant" class="btn btn-secondary">+</p></div>
              </div>

              <div id="lastOfTwoItem">
                <div class="form-group">
                  <label for="last-of-two-items-title" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="last-of-two-items-title" placeholder="Color, Size, etc">
                </div>
                
                <div class="form-group">
                  <p style="width: 20px;" class="m-2"> </p>
                  <p style="width: 20px;" class="m-2"> </p>
                  <label for="message-text" class="col-form-label" style="width: 280px;">Choices:</label>
                  
                  
                </div>
                
                <div id="lastOfTwoItemGroup">
                  <div class="form-group">
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 last-of-two-variant-counter" style="width: 20px;">1</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsLastOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                  
                  <div class="form-group">
                    <p style="width: 20px;" class="m-2"> </p>
                    <p class="m-2 last-of-two-variant-counter" style="width: 20px;">2</p>
                    <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                    
                    <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsLastOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>
                </div>

                <div style="width: 100%;" class="text-left"><p id="addToLastOfTwoItemVariant" class="btn btn-secondary">+</p></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div>
              <p>* If you delete the option, the registered JAN code and inventory
                information will also be deleted</p>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display: none;">Close</button>
            <button type="button" id="two-items-save-btn" class="btn btn-primary" style="margin: 10px auto; padding: 5px 40px;" onclick="saveTwoItemsData();">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!--Ends moal for variant-->




<script>
  
  //starts adding more image button


  let counter = 0;
  const imgWrapper = document.getElementById('img-wrapper');

  const loadFile = function(event) {
     
    const addImgBtn = document.getElementById(`add-img-btn-${counter}`);
    const image = document.getElementById(`images-${counter}`);

    if(imgWrapper.childElementCount < 6){ 
      image.innerHTML = `<img class="images" src="${URL.createObjectURL(event.target.files[0])}" width="120" /> 
                  <div class="overlay">
                    <div onClick="this.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode.parentNode)" class="rmv-img-btn"><i class="fas fa-trash-alt" style="font-size: 2rem;margin-top: 20%;margin-left: 10%; color: #9f111f;"></i> </div>
                  </div>
      `;
      addImgBtn.style.display = 'none';
      
      //increase counter for next
      counter ++;
      
      imgWrapper.innerHTML += `<div class="col-md-4"><div class="row img-h"><label for="file" id="add-img-btn-${counter}" class="btn btn-secondary text-center col-md-12 img-input" onclick="if(!document.getElementById('file')){document.getElementById('file-${counter}').click();}">
                  + 
                  <input type="file"  accept="image/*" name="image" id="file-${counter}" onchange="loadFile(event)" style="display: none">
                </label>
                <div class="col-md-12 img-container" id="images-${counter}"> </div> </div></div>` 
    } else{
      document.getElementById(`file-${counter}`).value='';
      console.log(document.getElementById(`file-${counter}`).value);
      document.getElementById('max-img-btn').click();
    }

    
  };


  
  


  

    //ends image add button increase code


    //starts variant code
    const one = document.getElementById('one');
    const two = document.getElementById('two');
    const none = document.getElementById('none');

    const varietyContent = document.getElementById('variety-content');

    one.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = `<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#oneItemVariant">+ Item / Option</button>`;
    })

    two.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = `<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#twoItemsVariant">+ Items / Options</button>`;
    })

    none.addEventListener('click', (event)=> {
      // event.preventDefault();
      varietyContent.innerHTML = ``;
    })


    //modal for i item variant
    $('#oneItemsVariant').on('show.bs.modal', function (event) {
  // var button = $(event.relatedTarget) // Button that triggered the modal
  // var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  // var modal = $(this)
  // modal.find('.modal-title').text(recipient)
  // modal.find('.modal-body input').val(recipient)
  })
  //modal for 2 items variable
    $('#twoItemsVariant').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  // var modal = $(this)
  // modal.find('.modal-title').text(recipient)
  // modal.find('.modal-body input').val(recipient)
  })

  //one item variant code for adding more option
  function deleteOptions(){
    console.log('deleted');

    let optionArray = document.getElementsByClassName('one-variant-counter');

    for(let i = 0; i < optionArray.length; i++){
      optionArray[i].innerHTML = i + 1;
    }

  }
  
  document.getElementById('addToOneItemVariant').addEventListener('click', ()=>{
    let optionArray = document.getElementsByClassName('one-variant-counter');
    let optCounter = optionArray.length + 1;

    let newContent = document.createElement('div');
    newContent.innerHTML = `<div class='form-group'>
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 one-variant-counter" style="width: 20px;">${optCounter}</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 160px;">
                  
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 100px;">
                  
                  <input type="number" class="form-control" id="message-text" placeholder="" style="width: 70px;">
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptions();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>`;
    
    while (newContent.firstChild) {
      document.getElementById('oneItemGroup').appendChild(newContent.firstChild);
    }

   
  })

  //two item variants

  //first of two items variant
  function deleteOptionsFirstOfTwo(){
    console.log('deleted');

    let firstOfTwooptionArray = document.getElementsByClassName('first-of-two-variant-counter');

    for(let i = 0; i < firstOfTwooptionArray.length; i++){
      firstOfTwooptionArray[i].innerHTML = i + 1;
    }

  }

  document.getElementById('addToFirstOfTwoItemVariant').addEventListener('click', ()=>{
    let firstOfTwooptionArray = document.getElementsByClassName('first-of-two-variant-counter');
    let firstOfTwoOptCounter = firstOfTwooptionArray.length + 1;

    let firstOfTwoNewContent = document.createElement('div');
    firstOfTwoNewContent.innerHTML = `<div class='form-group'>
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 first-of-two-variant-counter" style="width: 20px;">${firstOfTwoOptCounter}</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                  
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsFirstOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>`;
    
    while (firstOfTwoNewContent.firstChild) {
      document.getElementById('firstOfTwoItemGroup').appendChild(firstOfTwoNewContent.firstChild);
    }

   
  })


  //last of two items variant
  function deleteOptionsLastOfTwo(){
    console.log('deleted');

    let lastOfTwooptionArray = document.getElementsByClassName('last-of-two-variant-counter');

    for(let i = 0; i < lastOfTwooptionArray.length; i++){
      lastOfTwooptionArray[i].innerHTML = i + 1;
    }

  }

  document.getElementById('addToLastOfTwoItemVariant').addEventListener('click', ()=>{
    let lastOfTwooptionArray = document.getElementsByClassName('last-of-two-variant-counter');
    let lastOfTwoOptCounter = lastOfTwooptionArray.length + 1;

    let lastOfTwoNewContent = document.createElement('div');
    lastOfTwoNewContent.innerHTML = `<div class='form-group'>
                  <p style="width: 20px;" class="m-2"> </p>
                  <p class="m-2 last-of-two-variant-counter" style="width: 20px;">${lastOfTwoOptCounter}</p>
                  <input type="text" class="form-control" id="message-text" placeholder="" style="width: 280px;">
                  
                  <p class="m-2" style="width: 10px; cursor: pointer; font-size: 1.3rem;"  onClick="this.parentNode.parentNode.removeChild(this.parentNode); deleteOptionsLastOfTwo();"><i class="fas fa-trash-alt" style="color: #D08383;"></i> </p>
                  </div>`;
    
    while (lastOfTwoNewContent.firstChild) {
      document.getElementById('lastOfTwoItemGroup').appendChild(lastOfTwoNewContent.firstChild);
    }

   
  })

    //ends variant code
  

  /*
  *
  *save variant data to the form 
  *
  */

  function saveOneItemData(){
    console.log('clicked 1')
  }

  function saveTwoItemsData(){

    console.log('clicked 2')

  }

  
  



</script>

  </body>
</html>
