<div id="alertMessages">
{% for message in messages %}
  {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{ message|safe }}</div>
  {% else %}
  <div class="alert alert-{{ message.tags|safe }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{ message|safe }}
    </div>
  {% endif %}
{% endfor %}
</div>