<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kinujo Payment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now 'H' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-responsive.css' %}"/>
  </head>
  <body>
  <section class="section">
    <div class="container text-center" style="margin-top: 25%">
      <h5>{% trans 'Your payment is cancelled.' %}</h5>
    </div>
  </section>
  <section class="section">
    <div class="container text-center" style="margin-top: 25px">
      <a id="app_link" class="btn btn-info">{% trans 'Return' %}</a>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    //$('#app_link').attr('href', 'net.c2sg.kinujo://complete/cancel/_/_');
    $('#app_link').attr('href', 'net.c2sg.kinujo://cancelled/cancel');
    window.sessionStorage.setItem('stripe_session', '');
    setTimeout(() => {
      $('#app_link')[0].click();
    }, 5000);

    $('#app_link').on('click', function() {
      window.sessionStorage.setItem('stripe_session', '');
      window.open('','_self');
      window.close();
    })
  </script>
  </body>
</html>