<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kinujo Payment</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <button id="checkout-button" style="display: none">Checkout</button>
    </div>
    <div id="loading"><img style="left: 33%; position: absolute; top: 33%;" src="{% static 'img/loading.gif' %}" /></div>
  </section>
    <script type="text/javascript">
      var amount = parseInt('{{amount}}');
      var address = '{{address}}';
      var tax = '{{tax}}';
      var userId = '{{userId}}';
      var products = [];
      {% for product in products %}
        products.push([{{product}}]);
      {% endfor %}
      var stripe = Stripe('pk_test_51HKjPHIvJqFxVlDAE98cKW9H5ugaXDHTkuR18QPSw8yM3NOjYvX4V2SQzLzUb6MMqOmTTRUB2FCxjWeyv3hIUZa700ApA0gjSN');
      var checkoutButton = document.getElementById('checkout-button');
      var baseUrl = window.location.origin;

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch(baseUrl + '/payments/create-checkout-session/', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
           body: JSON.stringify({
              amount: amount,
           })
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          window.sessionStorage.setItem('stripe_session', 
            JSON.stringify(
              {
                sessionId: session.sessionId,
                products: products,
                address: address,
                tax: tax,
                userId: userId,
              }
            )
          );
          return stripe.redirectToCheckout({ sessionId: session.sessionId });
        })
        .then(function(result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });

      (function() {
        window.sessionStorage.setItem('stripe_session', '');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.click();
      })();

    </script>
  </body>
</html>