<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kinujo Payment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now 'H' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-responsive.css' %}"/>
  </head>
  <body>
  <div id="loading"><img style="left: 25%; position: absolute; top: 25%;" src="{% static 'img/loading.gif' %}" /></div>
  <section class="section">
    <div class="container text-center" style="font-size: 14px; margin-top: 25%">
      <h5>{% trans 'Your payment succeed.' %}</h5>
      <p>{% trans 'Thank you for your order!' %}</p>
      <p>{% trans 'Please wait for a while until delivery.' %}</p>
    </div>
  </section>
  <section class="section">
    <div class="container text-center" style="margin-top: 25px">
      <a id="app_link" class="btn btn-info">{% trans 'Return' %}</a>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    var baseUrl = window.location.origin;
    var session_id = "{{session_id}}";
    var stripe_sk = '{{stripe_sk}}';
    var stripe_session = JSON.parse(window.sessionStorage.getItem('stripe_session'));
    if (stripe_session && stripe_session != '' && stripe_session.sessionId == session_id) {
      
      $.ajax({
          url: 'https://api.stripe.com/v1/checkout/sessions/' + stripe_session.sessionId,
          beforeSend: function(xhr) {
              xhr.setRequestHeader("Authorization", "Bearer " + stripe_sk)
          }, success: function(data){
              let payment_intent = data.payment_intent;
              $.ajax({
                url: 'https://api.stripe.com/v1/payment_intents/' + payment_intent,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + stripe_sk)
                }, success: function(data){
                    card_no = data.charges.data[0].payment_method_details.card.brand + '_****_****_' + data.charges.data[0].payment_method_details.card.last4;
                    callPaymentAPI(card_no);
                    //process the JSON data etc
                }, error: function (e){
                  callPaymentAPI("");
                }
            })
              //process the JSON data etc
          }, error: function (e){
            callPaymentAPI("");
          }
      })
      
    }
    $('#app_link').on('click', function() {
      window.sessionStorage.setItem('stripe_session', '');
      window.open('','_self');
      window.close();
    })

    function callPaymentAPI(card_no) {
      fetch(baseUrl + '/api/pay/' + stripe_session.userId + "/", {
          method: 'POST',
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
                  checkoutSessionId: session_id,
                  products: stripe_session.products,
                  address: stripe_session.address,
                  tax: stripe_session.tax,
                  card_no: card_no,
              })
          })
          .then(function(response) {
              return response.json();
          })
          .then(function(response) {
              let snap_ids = '';
              stripe_session.products.forEach((prod) => {
                snap_ids += prod[0][0] + ','
              })
              snap_ids = snap_ids.slice(0, -1)
              let seller = response.sellers;
              let href = 'net.c2sg.kinujo://complete/success/' + snap_ids + '/' + seller;
              $('#app_link').attr('href', href);
              window.sessionStorage.setItem('stripe_session', '');
              setTimeout(() => {
                $('#app_link')[0].click();
              }, 1000);
              $('#loading').hide();
          })
          .catch(function (error) {
              console.log(error);
              $('#loading').hide();
          });
    }
  </script>
  </body>
</html>