<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kinujo Payment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now 'H' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-responsive.css' %}"/>
  </head>
  <body>
  <section class="section">
    <div class="container text-center" style="font-size: 14px">
      <h4>{% trans 'Your payment succeed.' %}</h4>
      <p>{% trans 'Thank you for your order!' %}</p>
      <p>{% trans 'Please wait for a while until delivery.' %}</p>
    </div>
  </section>
  <section class="section">
    <div class="container text-center">
      <a id="app_link" class="btn btn-info">{% trans 'Return' %}</a>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    var baseUrl = window.location.origin;
    var session_id = "{{session_id}}";
    var stripe_session = JSON.parse(window.sessionStorage.getItem('stripe_session'));
    console.log('session_id', session_id);
    console.log('stripe_session', stripe_session);
    if (stripe_session && stripe_session != '' && stripe_session.sessionId == session_id) {
      fetch(baseUrl + '/api/pay/' + stripe_session.userId + "/", {
          method: 'POST',
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
                  checkoutSessionId: session_id,
                  products: stripe_session.products,
                  address: stripe_session.address,
                  tax: stripe_session.tax,
              })
          })
          .then(function(response) {
              return response.json();
          })
          .then(function(response) {
              let snap_ids = '';
              stripe_session.products.forEach((prod) => {
                snap_ids += prod[0][0] + ','
              })
              snap_ids = snap_ids.slice(0, -1)
              let seller = response.sellers;
              let href = 'net.c2sg.kinujo://complete/success/' + snap_ids + '/' + seller;
              $('#app_link').attr('href', href);
              window.sessionStorage.setItem('stripe_session', '');
              setTimeout(() => {
                $('#app_link')[0].click();
              }, 5000);
          })
          .catch(function (error) {
              console.log(error);
          });
    }
    $('#app_link').on('click', function() {
      window.sessionStorage.setItem('stripe_session', '');
      window.open('','_self');
      window.close();
    })
  </script>
  </body>
</html>